html, body {
    font-family: 'Berkshire Swash', cursive;
    background-image : url("/assets/game/backgrounds/background.png");
	margin:auto;
}

#select-heroes-form,
#create-game-me,
#create-game-slots {
    position: absolute;
    color: white;
    /* Hide on page load */
    top: -500px;
}

#create-game-bg rect,
#select-heroes-bg rect {
    stroke: none;
}

#select-heroes-form p {
    color: white;
}

#select-heroes-bg, #create-game-bg {
    height: 100vh;
}


#copy-invite-link {
    width: 27px;
    margin-left: 5px;
}

#copy-invite-link:hover {
    background-color: grey;
}

.select-hero img {
    max-width: 23%;
    margin-top: 1%;
}

.selected-hero {
    display: block;
    max-width: 150px;
    margin: auto;
}


img.hero-img {
    display: inline-block;
    overflow: hidden;
    background: #333;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


.main-pos {
    cursor: pointer;
    border: medium solid rgba(245, 245, 220, 0.7);
    border-radius: 5px;
}


.left-pos {
    opacity: .3;
    -webkit-transform: scale(.75);
    -moz-transform: scale(.75);
    transform: scale(.75);
}


.right-pos {
    opacity: .3;
    -webkit-transform: scale(.75);
    -moz-transform: scale(.75);
    transform: scale(.75);
}

.arrow {
    height: 145px;
    max-width: 20px !important;
    cursor: pointer;
}
