.logo {
    display: block;
    height: 110px;
    margin: auto;
}


#play {
    max-width: 1600px;
    min-width: 780px;
    margin-top: 0.3%;
    margin-right: auto;
    margin-left: auto;
}


.play-left {
    display: block;
    float: left;
    width: 18%;
    background: url(/assets/game/backgrounds/gauge.png);
    background-size: 100% 100%;
}

.player-name {
    margin-bottom: 0;
}

#trumps-container {
    position: relative;
    overflow-y: hidden;
}

#hero img {
    width: 35%;
    margin-top: 2%;
    min-with: 50px;
}

#trumps-affecting-player {
    display: block;
    float: left;
    width: 50%;
}

.trump-icon {
    width: 60%;
    max-width: 60px;
    min-width: 42px;
}

.trumps-affecting-player {
    display: block;
    width: 50%;
    min-width: 32px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
}

#player-trumps {
    display: block;
    float: right;
    width: 50%;
}

.player-trumps {
    display: block;
    width: 60%;
    min-width: 42px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}


.play-middle {
    display: inline-block;
    width: 64%;
}

#board-bg {
    background: url(/assets/game/backgrounds/board.png);
    background-size: 100% 100%;
}

#board-container {
    display: block;
    padding-top: 3%;
    padding-bottom: 2%;
    margin: auto;
    text-align: center;
}

#board {
    max-width: 600px;
}

#cards-container {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 3%;
    background: url(/assets/game/backgrounds/cards.png);
    background-size: 100% 100%;
}

.card {
    position: relative;
    margin-top: 1%;
    margin-right: 2%;
    cursor: pointer;
}

.card:hover {
    top: -10px;
}

.selected-card, .selected-card:hover {
    top: -20px;
}


.play-right {
    display: block;
    float: right;
    width: 18%;
}

#notifications {
    padding: 20px;
    background: url(/assets/game/backgrounds/infos.png);
    background-size: 100% 100%;
}

#notifications img {
    width: 90%;
    max-with: 170px;
}

#description {
    margin-right: 3%;
    margin-left: 4%;
}

#counter {
    background: url(/assets/game/backgrounds/stopwatch.png);
    background-size: 100% 100%;
}


/* Very small screens */
@media screen and (max-width: 799px) {
    #board {
        max-width: 233px;
    }

    .play-left, .play-right {
        display: none;
    }
}


/* 800--1200px large */
@media screen and (min-width: 800px) {
    .play-left {
        max-height: 742px;
        min-height: 742px;
    }

    .play-middle {
        max-height: 742px;
        min-height: 742px;
    }

    #board-container {
        max-height: 548px;
        min-height: 548px;
        padding-top: 25px;
        padding-bottom: 0;
    }

    #board {
        max-width: 500px;
    }

    #cards-container {
        max-height: 150px;
        min-height: 150px;
    }

    #notifications {
        max-height: 537px;
        min-height: 537px;
    }

    #counter {
        max-height: 165px;
        min-height: 165px;
    }
}


/* 1200--1500px large */
@media screen and (min-width: 1200px) {
    .play-left {
        max-height: 769px;
        min-height: 769px;
    }

    .play-middle {
        max-height: 769px;
        min-height: 769px;
    }

    #board-container {
        max-width: 600px;
        max-height: 570px;
        min-height: 570px;
    }

    #board {
        max-width: 550px;
    }

    #cards-container {
        max-height: 150px;
        min-height: 150px;
    }

    #notifications {
        max-height: 555px;
        min-height: 555px;
    }

    #counter {
        max-height: 174px;
        min-height: 174px;
    }

    #play {
        max-width: 1315px;
    }
}


/* >1500px large */
@media screen and (min-width: 1500px) {
    .play-left {
        max-height: 826px;
        min-height: 826px;
    }

    .play-middle {
        max-height: 826px;
        min-height: 826px;
    }

    #board-container {
        max-width: 600px;
        max-height: 620px;
        min-height: 620px;
    }

    #board {
        max-width: 600px;
    }

    #cards-container {
        max-height: 150px;
        min-height: 150px;
    }

    #notifications {
        max-height: 605px;
        min-height: 605px;
    }

    #counter {
        max-height: 181px;
        min-height: 181px;
    }

    #play {
        max-width: 1450px;
    }
}
