.logo {
    display: block;
    height: 110px;
    margin: auto;
}


#play {
    margin-top: 0.3%;
}


.play-left {
    display: block;
    float: left;
    width: 20%;
    background: url(/assets/game/backgrounds/gauge.png);
    background-size: 100% 100%;
}

.player-name {
    margin-bottom: 0;
}

#trumps-container {
    position: relative;
    height: 777px;
    overflow-y: hidden;
}

#special-trumps img {
    width: 80px;
    height: 90px;
    margin-top: 2%;
    cursor: pointer;
}

#trumps-affecting-player {
    display: block;
    float: left;
    width: 50%;
}

.trump-icon {
    width: 60px;
    height: 60px;
}

.trumps-affecting-player {
    display: block;
    width: 70px;
    height: 80px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
}

#player-trumps {
    display: block;
    float: right;
    width: 50%;
}

.player-trumps {
    display: block;
    width: 80px;
    height: 90px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}


.play-middle {
    display: inline-block;
    width: 60%;
}

#board-container {
    display: block;
    min-width: 600px;
    padding-top: 3%;
    padding-bottom: 2%;
    text-align: center;
    background: url(/assets/game/backgrounds/board.png);
    background-size: 100% 100%;
}

#cards-container {
    background: url(/assets/game/backgrounds/cards.png);
    background-size: 100% 100%;
}

#cards-container {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 3%;
}

.card {
    position: relative;
    margin-right: 2%;
    cursor: pointer;
}

.card:hover {
    top: -10px;
}

.selected-card, .selected-card:hover {
    top: -20px;
}


.play-right {
    display: block;
    float: right;
    width: 20%;
}

#notifications {
    height: 621px;
    padding: 20px;
    background: url(/assets/game/backgrounds/infos.png);
    background-size: 100% 100%;
}

#notifications img {
    width: 190px;
    height: 210px;
}

#description {
    margin-right: 3%;
    margin-left: 4%;
}

#counter {
    height: 170px;
    background: url(/assets/game/backgrounds/stopwatch.png);
    background-size: 100% 100%;
}
