.sprite-movement-wizard-yellow {
    background-image: url(../../../../../assets/game/cards/movement/wizard-yellow.png);
    background-repeat: no-repeat;
    height: 193px;
    width: 140px;
}

.sprite-movement-wizard-red {
    background-image: url(../../../../../assets/game/cards/movement/wizard-red.png);
    background-repeat: no-repeat;
    height: 193px;
    width: 140px;
}

.sprite-movement-wizard-blue {
    background-image: url(../../../../../assets/game/cards/movement/wizard-blue.png);
    background-repeat: no-repeat;
    height: 193px;
    width: 140px;
}

.sprite-movement-wizard-black {
    background-image: url(../../../../../assets/game/cards/movement/wizard-black.png);
    background-repeat: no-repeat;
    height: 193px;
    width: 140px;
}

.sprite-movement-warrior-yellow {
    background-image: url(../../../../../assets/game/cards/movement/warrior-yellow.png);
    background-repeat: no-repeat;
    height: 193px;
    width: 140px;
}

.sprite-movement-warrior-red {
    background-image: url(../../../../../assets/game/cards/movement/warrior-red.png);
    background-repeat: no-repeat;
    height: 193px;
    width: 140px;
}

.sprite-movement-warrior-blue {
    background-image: url(../../../../../assets/game/cards/movement/warrior-blue.png);
    background-repeat: no-repeat;
    height: 193px;
    width: 140px;
}

.sprite-movement-warrior-black {
    background-image: url(../../../../../assets/game/cards/movement/warrior-black.png);
    background-repeat: no-repeat;
    height: 193px;
    width: 140px;
}

.sprite-movement-queen-yellow {
    background-image: url(../../../../../assets/game/cards/movement/queen-yellow.png);
    background-repeat: no-repeat;
    height: 193px;
    width: 140px;
}

.sprite-movement-queen-red {
    background-image: url(../../../../../assets/game/cards/movement/queen-red.png);
    background-repeat: no-repeat;
    height: 193px;
    width: 140px;
}

.sprite-movement-queen-blue {
    background-image: url(../../../../../assets/game/cards/movement/queen-blue.png);
    background-repeat: no-repeat;
    height: 193px;
    width: 140px;
}

.sprite-movement-queen-black {
    background-image: url(../../../../../assets/game/cards/movement/queen-black.png);
    background-repeat: no-repeat;
    height: 193px;
    width: 140px;
}

.sprite-movement-knight-yellow {
    background-image: url(../../../../../assets/game/cards/movement/knight-yellow.png);
    background-repeat: no-repeat;
    height: 193px;
    width: 140px;
}

.sprite-movement-knight-red {
    background-image: url(../../../../../assets/game/cards/movement/knight-red.png);
    background-repeat: no-repeat;
    height: 193px;
    width: 140px;
}

.sprite-movement-knight-blue {
    background-image: url(../../../../../assets/game/cards/movement/knight-blue.png);
    background-repeat: no-repeat;
    height: 193px;
    width: 140px;
}

.sprite-movement-knight-black {
    background-image: url(../../../../../assets/game/cards/movement/knight-black.png);
    background-repeat: no-repeat;
    height: 193px;
    width: 140px;
}

.sprite-movement-king-yellow {
    background-image: url(../../../../../assets/game/cards/movement/king-yellow.png);
    background-repeat: no-repeat;
    height: 193px;
    width: 140px;
}

.sprite-movement-king-red {
    background-image: url(../../../../../assets/game/cards/movement/king-red.png);
    background-repeat: no-repeat;
    height: 193px;
    width: 140px;
}

.sprite-movement-king-blue {
    background-image: url(../../../../../assets/game/cards/movement/king-blue.png);
    background-repeat: no-repeat;
    height: 193px;
    width: 140px;
}

.sprite-movement-king-black {
    background-image: url(../../../../../assets/game/cards/movement/king-black.png);
    background-repeat: no-repeat;
    height: 193px;
    width: 140px;
}

.sprite-movement-bishop-yellow {
    background-image: url(../../../../../assets/game/cards/movement/bishop-yellow.png);
    background-repeat: no-repeat;
    height: 193px;
    width: 140px;
}

.sprite-movement-bishop-red {
    background-image: url(../../../../../assets/game/cards/movement/bishop-red.png);
    background-repeat: no-repeat;
    height: 193px;
    width: 140px;
}

.sprite-movement-bishop-blue {
    background-image: url(../../../../../assets/game/cards/movement/bishop-blue.png);
    background-repeat: no-repeat;
    height: 193px;
    width: 140px;
}

.sprite-movement-bishop-black {
    background-image: url(../../../../../assets/game/cards/movement/bishop-black.png);
    background-repeat: no-repeat;
    height: 193px;
    width: 140px;
}

.sprite-movement-assassin-yellow {
    background-image: url(../../../../../assets/game/cards/movement/assassin-yellow.png);
    background-repeat: no-repeat;
    height: 193px;
    width: 140px;
}

.sprite-movement-assassin-red {
    background-image: url(../../../../../assets/game/cards/movement/assassin-red.png);
    background-repeat: no-repeat;
    height: 193px;
    width: 140px;
}

.sprite-movement-assassin-blue {
    background-image: url(../../../../../assets/game/cards/movement/assassin-blue.png);
    background-repeat: no-repeat;
    height: 193px;
    width: 140px;
}

.sprite-movement-assassin-black {
    background-image: url(../../../../../assets/game/cards/movement/assassin-black.png);
    background-repeat: no-repeat;
    height: 193px;
    width: 140px;
}

@media screen and (-webkit-min-device-pixel-ratio: 1),
    screen and (min--moz-device-pixel-ratio: 1),
    screen and (-o-min-device-pixel-ratio: 100/100),
    screen and (min-device-pixel-ratio: 1),
    screen and (min-resolution: 1dppx) {
    .sprite-movement-wizard-yellow,
    .sprite-movement-wizard-red,
    .sprite-movement-wizard-blue,
    .sprite-movement-wizard-black,
    .sprite-movement-warrior-yellow,
    .sprite-movement-warrior-red,
    .sprite-movement-warrior-blue,
    .sprite-movement-warrior-black,
    .sprite-movement-queen-yellow,
    .sprite-movement-queen-red,
    .sprite-movement-queen-blue,
    .sprite-movement-queen-black,
    .sprite-movement-knight-yellow,
    .sprite-movement-knight-red,
    .sprite-movement-knight-blue,
    .sprite-movement-knight-black,
    .sprite-movement-king-yellow,
    .sprite-movement-king-red,
    .sprite-movement-king-blue,
    .sprite-movement-king-black,
    .sprite-movement-bishop-yellow,
    .sprite-movement-bishop-red,
    .sprite-movement-bishop-blue,
    .sprite-movement-bishop-black,
    .sprite-movement-assassin-yellow,
    .sprite-movement-assassin-red,
    .sprite-movement-assassin-blue,
    .sprite-movement-assassin-black {
        /*background-image: url(../../../../../assets/game/sprites/cards.png);*/
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        background-size: 100% 100%;
    }
}
