aot-counter {
    #counter-countainer {
        position: relative;
        background-image: url(/assets/game/backgrounds/stopwatch.png);
        background-size: 100% 100%;
    }

    #counter {
        position: relative;
        opacity: 0.8;
        padding-top: 10px;
        padding-left: 25px;
        z-index: 1;
    }

    #timer {
        position: relative;
        font-size: 500%;
        z-index: 2;
        padding-top: auto;
        margin: auto;
        color: #000;
        transition: opacity 350ms linear 0s;
        -webkit-transition: opacity 350ms linear 0s;
    }
}
