/index.html
/sw.js
/node_modules
/dist
/public
/app/environment.js
/app/assets-list.js
/reports
npm-debug.log
yarn-error.log
/.env
/test/coverage-jest

# This exist only to check translation keys. Don't track with git.
/app/locale/en/_translation_keys.json
/app/locale/fr/_translation_keys.json
