/index.html
/nb-configuration.xml
/config/*.toml
/jspm_packages
/node_modules
/dist
/build
/coverage
/public
/scripts/*bundle.js
/scripts/*.map
/app/environment.js
/app/services/configuration.js
/reports
npm-debug.log
.venv
*.pyc
