html, body {
    background-image : url("/assets/bg.png");
    font-family: 'Berkshire Swash', cursive;
}


#header {
    max-width: 1100px;
    min-width: 800px;
    height: 300px;
    background-image: url("/assets/header-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


#nav-bar {
    position: relative;
    top: 163px;
}

#nav-bar .button-dark {
    width: 50%;
}


#nav-bar .column-left {
    float: left;
    width: 29.3%;
}

#nav-bar .column-rigth {
    float: right;
    width: 28.4%;
}

#nav-bar .column-center {
    display: inline-block;
    width: 30%;
    max-width: 296px;
    height: 56px;
}


#to-homepage {
    width: 100%;
    height: 100%;
    display: block;
}


a.button-dark {
    background: url("/assets/button-dark.png") no-repeat;
    background-size: 100% 100%;
    display: block;
    float: left;
    padding-left: 0px;
    width: 150px;
    line-height: 32px; /*hauteur de l'image de fond*/
    color: #DCDCDC;
    text-decoration: none;
}


a.button-dark:hover {
    background: url("/assets/button-dark-hover.png") no-repeat;
    background-size: 100% 100%;
}



div#connexion{
    width:1100px;
    height:80px;
    margin-bottom:10px;
    position:relative;
    background-image: url("/assets/aot_home_connexion.png");
    background-size: 100% 100%;
    z-index:1;
    margin-left: auto;
    margin-right: auto;
}

#conteneur_connexion
{
    margin-left: auto;
    margin-right: auto;
    width: 905px;
    line-height: 37px;
}

#mot_connexion
{
    font-size:20;
    font-family: calibri;
    font-weight: bold;
    color: black;
}

form,#mot_connexion
{
    display: inline-block;
    margin-right: 52px;
}

ul {
    padding-top:164px;

    padding-left:0px;
    margin:0;
    list-style-type:none;
}

li {
    float:left; /*pour IE*/
}

ul li a#item1{

}
ul li a#item1:hover {
    background:url(/assets/bouton2.png) no-repeat;
    background-size: 100% 100%;
    color:white;
    padding-left:0px;
}

ul li a#item2:hover {
    background: url(/assets/bouton2.png) no-repeat;
    background-size: 100% 100%;
    color:white;
}

ul li a#item3{
    margin-left:500px;
}


ul li a#item3:hover {
    background:url(/assets/bouton2.png) no-repeat;
    background-size: 100% 100%;
    color:white;
}

ul li a#item3, ul li a#item4{
    float:left;
    width:150px;
    line-height:32px; /*hauteur de l'image de fond*/
    background:url(/assets/bouton1.png) no-repeat;
    background-size: 100% 100%;
    color:#DCDCDC;
    text-decoration:none;
}

ul li a#item4:hover {
    background:url(/assets/bouton2.png) no-repeat;
    background-size: 100% 100%;
    color:white;
}

a#item5{
    text-align: center;
    width: 267px;
    line-height:32px; /*hauteur de l'image de fond*/
    background:url(/assets/jouer1.png) no-repeat;
    background-size: 100% 100%;
    color:#DCDCDC;
    text-decoration:none;
    display: inline-block;
    cursor: pointer;
}

a#item5:hover {
    background:url(/assets/jouer2.png) no-repeat;
    background-size: 100% 100%;
    color:white;
}

button #OK{
    background:url(/assets/bouton1.png) no-repeat;
    background-size: 100% 100%;
    color:#DCDCDC;
    text-decoration:none;
}

button #OK:hover {
    background:url(boutonjouer1.png) no-repeat;
    background-size: 100% 100%;
    color:white;
}

div#middle{
    width:1100px;
    margin-left: auto;
    margin-right: auto;
    font-family: calibri;
}

div#fond1,#fond2,#fond3{
    width:1100px;
    height:650px;
    background-image: url("/assets/aot_home_block.png");
    background-size: 100% 100%;
}

div#fond1,div#fond2,#fond3{
    margin-top: 2%;
}

div#footer{
    width:100%;
    height:200px;
    background-image:linear-gradient(transparent, black);
    background-size: 100% 100%;
}

h1
{
    padding-top: 30px;
    color: maroon;
}