html, body {
    background-image : url("/assets/bg.png");
    font-family: 'Berkshire Swash', cursive;
}

p {
    color: black;
}

.centered-important {
    font-size: x-large;
    text-align: center;
}

.centered-important strong {
    color: maroon;
}

.row-block {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    min-width: 800px;
}


#header {
    height: 300px;
    background-image: url("/assets/header-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 1%;
}


#footer {
    width: 100%;
    height: 200px;
    background-image: linear-gradient(transparent, black);
    background-size: 100% 100%;
}


#nav-bar {
    position: relative;
    top: 163px;
}

#nav-bar .button-dark {
    width: 50%;
}


#nav-bar .column-left {
    float: left;
    width: 29.3%;
}

#nav-bar .column-rigth {
    float: right;
    width: 28.4%;
}

#nav-bar .column-center {
    display: inline-block;
    width: 30%;
    max-width: 296px;
    height: 56px;
}


.border-black {
    border: 3px solid black;
}


.small-column-left {
    float: left;
    width: 23%;
    margin-left: 2%;
}

.big-column-center {
    display: inline-block;
    width: 50%;
}

.small-column-right {
    float: right;
    width: 23%;
    margin-right: 2%;
}


.half-column-left {
    width: 43%;
    float: left;
    display: inline-block;
}


.half-column-right {
    width: 43%;
    float: right;
    display: inline-block;
}

.half-column-right img {
    width: 100%;
}


#nav-bar a {
    padding-left: 0px;
}


#to-homepage {
    width: 100%;
    height: 100%;
    display: block;
}


button, input.button {
    border: none;
    font-family: 'Berkshire Swash', cursive;
    font-size: medium;
    padding: 0px;
}


button, .button {
    color: #DCDCDC;
    display: inline-block;
    line-height: 32px; /*hauteur de l'image de fond*/
    text-align: center;
    text-decoration: none;
    width: 150px;
}


#nav-bar .button {
    display: block;
    float: left;
}


.button-dark {
    background: url("/assets/button-dark.png") no-repeat;
    background-size: 100% 100%;
}


.button-dark:hover {
    background: url("/assets/button-dark-hover.png") no-repeat;
    background-size: 100% 100%;
}



.button-light {
    background: url(/assets/button-light.png) no-repeat;
    background-size: 100% 100%;
}


.button-light:hover {
    background: url(/assets/button-light-hover.png) no-repeat;
    background-size: 100% 100%;
}


#connect-bar {
    height: 80px;
    background-image: url("/assets/connect-bg.png");
    background-size: 100% 100%;
}


#connect {
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

#connect form {
    display: inline-block;
}

#connect a.button {
    float: right;
}


.bg-content {
    background-image: url("/assets/content-bg.png");
    background-size: 100% 100%;
    margin-top: 2%;
    padding-bottom: 2%;
    overflow: auto;
}


.bg-content-padding {
    padding: 2.3%;
}
