html, body {
    background-image : url("/assets/backgrounds/bg.png");
    font-family: 'Berkshire Swash', cursive;
}


h1 {
    color: maroon;
}


h1, h2 {
    text-align: center;
}


p {
    color: black;
}


button, input.button {
    border: none;
    font-family: 'Berkshire Swash', cursive;
    font-size: medium;
    padding: 0px;
}


button, .button {
    color: #DCDCDC;
    display: inline-block;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    width: 150px;
}


button[disabled] {
    cursor: not-allowed;
    opacity: .5;
}


.button-dark {
    background: url("/assets/components/button-dark.png") no-repeat;
    background-size: 100% 200%;
    background-position: 0px 0px;
}


.button-dark:hover {
    background: url("/assets/components/button-dark.png") no-repeat;
    background-size: 100% 200%;
    background-position: 0px -32px;
}



.button-light {
    background: url(/assets/components/button-light.png) no-repeat;
    background-size: 100% 200%;
    background-position: 0px 0px;
}


.button-light:hover {
    background: url(/assets/components/button-light.png) no-repeat;
    background-size: 100% 200%;
    background-position: 0px -32px;
}


.hidden {
    display: none;
}


.centered-important {
    font-size: x-large;
    text-align: center;
}


.centered-important strong {
    color: maroon;
}


.centered-block {
    display: block;
    margin: auto;
}


.centered-text {
    text-align: center;
}


.popup {
    position: absolute;
    z-index: 900;
    background-color: #111;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    top: 0px;
    left: 0px;
}

.popup-content {
    z-index: 901;
    background: url(/assets/backgrounds/content.png) no-repeat;
    background-size: 100% 100%;
    padding-top: 1px;
    padding-bottom: 15px;
    max-width: 20%;
    position: absolute;
    left: 40%;
    top: 30%;
}

.popup-content form {
    text-align: center;
}

.popup-content .select-hero {
    margin-bottom: 0.5em;
}

.popup-content button {
    margin-top: 1em;
}


.margin-left-150 {
    margin-left: 150px;
}
