h1 {
    padding-top: 30px;
    color: maroon;
}


h1, h2 {
    text-align: center;
}


.hidden {
    display: none;
}

.popup {
    width: 35%;
    height: 20%;
    position: absolute;
    top: 40%;
    left: 40%;
    background-image: url(/assets/backgrounds/pop_up.png);
    background-size: 100% 100%;
}

.textPopup
{
    font-size: large;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0px;
    font-weight: bold;
}

.cancel-button
{
    margin-left: 10%;
}