#slider {
    position: relative;
    width: 100%;
    height: 338px;
    margin: 10px auto;
    overflow: hidden;
    background: none repeat scroll 0 0 #000000;
    border: 5px solid #FFFFFF;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

#slider ul {
    position: relative;
    padding: 0;
    margin: 0;
}

#slider img {
    width: 100%;
}

#slider li {
    position: absolute;
    top: -325px;
    width: 100%;
    height: 323px;
    list-style: none;
}

#slider li.firstanimation {
    -webkit-animation: cycle 18s linear infinite;
    -moz-animation: cycle 18s linear infinite;
    animation: cycle 18s linear infinite;
}

#slider li.secondanimation {
    -webkit-animation: cycletwo 18s linear infinite;
    -moz-animation: cycletwo 18s linear infinite;
    animation: cycletwo 18s linear infinite;
}

#slider li.thirdanimation {
    -webkit-animation: cyclethree 18s linear infinite;
    -moz-animation: cyclethree 18s linear infinite;
    animation: cyclethree 18s linear infinite;
}

#slider .tooltip {
    position: relative;
    bottom: 75px;
    left: -720px;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#slider .tooltip h1 {
    padding: 0 0 0 20px;
    font-size: 24px;
    font-weight: 300;
    line-height: 60px;
    color: #fff;
}

#slider li:hover .tooltip {
    left: 0;
}

/* ANIMATION */
@-moz-keyframes cycle {
    0% {
        top: 0;
    }
    4% {
        top: 0;
    }
    29% {
        top: 0;
        opacity: 1;
        z-index: 0;
    }
    33% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
    34% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    92% {
        top: -325px;
        opacity: 0;
        z-index: 0;
    }
    96% {
        top: -325px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }

}

@-moz-keyframes cycletwo {
    0% {
        top: -325px;
        opacity: 0;
    }
    29% {
        top: -325px;
        opacity: 0;
    }
    33% {
        top: 0;
        opacity: 1;
    }
    37% {
        top: 0;
        opacity: 1;
    }
    62% {
        top: 0;
        opacity: 1;
        z-index: 0;
    }
    66% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
    67% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    100% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
}

@-moz-keyframes cyclethree {
    0% {
        top: -325px;
        opacity: 0;
    }
    62% {
        top: -325px;
        opacity: 0;
    }
    66% {
        top: 0;
        opacity: 1;
    }
    70% {
        top: 0;
        opacity: 1;
    }
    96% {
        top: 0;
        opacity: 1;
        z-index: 0;
    }
    100% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
}

@-webkit-keyframes cycle {
    0% {
        top: 0;
    }
    4% {
        top: 0;
    }
    29% {
        top: 0;
        opacity: 1;
        z-index: 0;
    }
    33% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
    34% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    50% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    92% {
        top: -325px;
        opacity: 0;
        z-index: 0;
    }
    96% {
        top: -325px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }

}

@-webkit-keyframes cycletwo {
    0% {
        top: -325px;
        opacity: 0;
    }
    29% {
        top: -325px;
        opacity: 0;
    }
    33% {
        top: 0;
        opacity: 1;
    }
    37% {
        top: 0;
        opacity: 1;
    }
    62% {
        top: 0;
        opacity: 1;
        z-index: 0;
    }
    66% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
    67% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    100% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
}

@-webkit-keyframes cyclethree {
    0% {
        top: -325px;
        opacity: 0;
    }
    62% {
        top: -325px;
        opacity: 0;
    }
    66% {
        top: 0;
        opacity: 1;
    }
    70% {
        top: 0;
        opacity: 1;
    }
    96% {
        top: 0;
        opacity: 1;
        z-index: 0;
    }
    100% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
}

/* ANIMATION BAR */
@-moz-keyframes fullexpand {
    0%, 33%, 66%, 100% {
        width: 0;
        opacity: 0;
    }
    4%, 37%, 70% {
        width: 0;
        opacity: 0.3;
    }
    16%, 49%, 82% {
        width: 100%;
        opacity: 0.7;
    }
    17%, 50%, 83% {
        width: 100%;
        opacity: 0.3;
    }
    18%, 51%, 84% {
        width: 100%;
        opacity: 0;
    }
}

@-webkit-keyframes fullexpand {
    0%, 33%, 66%, 100% {
        width: 0;
        opacity: 0;
    }
    4%, 37%, 70% {
        width: 0;
        opacity: 0.3;
    }
    16%, 49%, 82% {
        width: 100%;
        opacity: 0.7;
    }
    17%, 50%, 83% {
        width: 100%;
        opacity: 0.3;
    }
    18%, 51%, 84% {
        width: 100%;
        opacity: 0;
    }
}

#content-slider {
    width: 130%;
    margin-left: -15%;
}
