<!--
Copyright (C) 2017 by Arena of Titans Contributors.

This file is part of Arena of Titans.

Arena of Titans is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Arena of Titans is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Arena of Titans. If not, see <http://www.gnu.org/licenses/>.
-->
<template>
    <require from="./heroes-viewer.css"></require>

    <div class="heroes-viewer-container centered-text">
        <div class="row"
             repeat.for="row of heroesRows">
            <div class="inline"
                 repeat.for="hero of row">
                <img class="hero-img pointer ${hero === selectedHero ? 'selected' : ''}"
                     if.bind="hero !==  'placeholder'"
                     click.delegate="selectHero(hero)"
                     src.bind="assetSource.forHero(hero)" />
                <img class="hero-img not-allowed"
                     if.bind="hero ===  'placeholder'"
                     src.bind="assetSource.forHero(hero)" />
            </div>
        </div>
    </div>
</template>
