<div id="bloc_total">

    <div id="bloc_left">

    </div> <!--bloc left-->

    <div id="bloc_middle">

        <div id="game" ng-class="{hidden: gameOver}">

            <div id="bloc_middle_centre">

                <div id="gameBoardContainer">
                    <aot-svg></aot-svg>
                </div>

            </div> <!--bloc middle center -->

            <div id="bloc_middle_bottom">
                <center>
                    <div>
                        <div>Player: {{currentPlayer.name}}</div>
                        <div id="movementsCardsInHand">
                            <div ng-repeat="card in currentPlayerCards" class="movementsCardContainer">
                                <img class="movementsCard"
                                     ng-class="{selectedCard: isSelected(card.name, card.color)}"
                                     ng-click="viewPossibleMovements(card.name, card.color)"
                                     ng-src="/inc/img/cards/movement/{{card.name| lowercase}}_{{card.color| lowercase}}.png"
                                     />
                            </div>
                            <button ng-click="pass()">Pass</button>
                            <button ng-click="discard()">Discard selected card.</button>
                            <div id="noCardSelectedPopup" class="popup" ng-class="{hidden: !showNoCardSelectedPopup}">
                                You must select a card to discard.<br />
                                <button ng-click="noCardSelectedPopupHidden()">OK</button>
                            </div>
                            <div id="discardConfirmationPopup" class="popup" ng-class="{hidden: !showDiscardConfirmationPopup}">
                                Are you sure you want to discard this card: {{selectedCard.name}} {{selectedCard.color}} ?
                                <button class="ok-button" ng-click="confirmDiscard()">OK</button>
                                <button class="cancel-button" ng-click="hiddeDiscardPopup()">Cancel</button>
                            </div>
                        </div>
                        <div id="trumps">
                            <div ng-repeat="trump in currentPlayerTrumps"
                                 ng-click="playTrump(trump)"
                                 class="trump">
                                {{trump.name}}: {{trump.description}}
                            </div>
                        </div>
                        <div>
                            Trumps currently active:
                            <ul id="activeTrumps">
                                <li ng-repeat="player in activeTrumps">
                                    For {{player.playerName}}:
                                    <ul ng-repeat="trump in player.trumpNames">
                                        <li>{{trump}}</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </center>
            </div> <!--bloc middle bottom-->

        </div>

    </div> <!--bloc middle-->
    <div id="bloc_right">
        <div id="bloc_right_centre">

        </div>

        <div id="bloc_right_bottom">

        </div>

    </div> <!--bloc right-->
</div> <!--bloc total-->

<div id="targetedPlayerForTrumpSelector" class="popup" ng-class="{hidden: !showTargetedPlayerForTrumpSelector}">
    <form id="targetedPlayerForTrumpSelectorForm">
        <label>Select the player on which to apply the trump.</label>
        <div ng-repeat="player in otherPlayers" class="player">
            <input ng-model="$parent.trumpTargetedPlayer"
                   ng-value="player.index"
                   type="radio"
                   name="targetPlayer" />{{player.name}}
        </div>
        <button class="cancel-button" ng-click="cancelSelectTargetedPlayerForm()">Cancel</button>
        <button class="ok-button" ng-click="submitSelectTargetedPlayerForm()">OK</button>
    </form>
</div>
