$popup-full-screen-margin-top: -8px;


aot-popup {
    .popup {
        background-color: #111;
        height: 100vh;
        margin-top: $popup-full-screen-margin-top;
        opacity: 0.6;
        position: absolute;
        width: 100%;
        z-index: 900;
    }

    .popup-container {
        height: 100vh;
        margin-top: $popup-full-screen-margin-top;
        overflow: hidden;
        position: absolute;
        width: 100%;
    }

    .popup-content {
        left: 50%;
        max-width: 700px;
        min-height: 100px;
        min-width: 454px;
        padding-bottom: 72px;
        padding-top: 50px;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        z-index: 901;

        &.default {
            background: url(/#{$version}/assets/game/backgrounds/popup.png) no-repeat;
            background-size: 100% 100%;
        }

        &.game-over {
            background: url(/#{$version}/assets/game/backgrounds/popup-game-over.png) no-repeat;
            background-size: 100% 100%;

            .x-margin {
                margin-left: 46%;
            }

            .x-margin ol {
                padding-top: 10%;
            }
        }

        button {
            margin-right: 1%;
            margin-top: 1em;
        }

        form {
            text-align: center;
        }

        .select-hero {
            margin-bottom: 0.5em;
        }

        .x-margin {
            margin-left: 11%;
            margin-right: 11%;
        }
    }
}
