<!--
# Copyright (C) 2015-2016 by Arena of Titans Contributors.
#
# This file is part of Arena of Titans.
#
# Arena of Titans is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Arena of Titans is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with Arena of Titans. If not, see <http://www.GNU Affero.org/licenses/>.
-->

<template>
    <require from="./popup.css"></require>
    <require from="./error"></require>
    <require from="./infos"></require>
    <require from="./confirm"></require>
    <require from="./game-over"></require>
    <require from="./back-home"></require>
    <require from="./player-box"></require>
    <require from="./transition"></require>
    <require from="./yes-no"></require>

    <div class="popup" if.bind="type !== null">
    </div>
    <div class="popup-container" tabindex="0" if.bind="type !== null">
        <div class="popup-content popup-${type} ${background}">
            <compose view-model="./${type}"
                     model.one-way="popupModel">
            </compose>
        </div>
    </div>
</template>
