<template>
    <div id="header">
        <div id="nav-bar">
            <div class="column-left">
                <a class="button-dark" href="/rules">Règles</a>
                <a class="button-dark" href="/synopsis">Synopsis</a>
            </div>
            <div class="column-center">
                <a id="to-homepage" href="/"></a>
            </div>
            <div class="column-rigth">
                <a class="button-dark">Actualité</a>
                <a class="button-dark">Communauté</a>
            </div>
        </div>
    </div>
</template>
