<!--
# Copyright (C) 2015-2017 by Arena of Titans Contributors.
#
# This file is part of Arena of Titans.
#
# Arena of Titans is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Arena of Titans is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with Arena of Titans. If not, see <http://www.gnu.org/licenses/>.
-->

<template>
    <require from="./heroes.css"></require>
    <require from="../../../widgets/select-heroes/select-heroes"></require>
    <require from="../../../widgets/heroes-viewer/heroes-viewer"></require>
    <div class="row-block bg-content">
        <h1 t="site.heroes.title">Heroes</h1>
        <div id="heroes-viewer-container">
            <aot-heroes-viewer selected-hero.two-way="selectedHero"></aot-heroes-viewer>
            <aot-select-heroes selected-hero.two-way="selectedHero"></aot-select-heroes>
        </div>
        <div id="heroes-selection-container">            
            <p id="hero-description">
                ${'heroes.' + selectedHero & t}
            </p>
            <img class="power-img"
                src.bind="assetSource.forHeroPower(selectedHero)" />
            <p id="hero-power">
                ${'heroes.' + selectedHero + '_power' & t}
            </p>
        </div>
    </div>
</template>