@import '../../style/variables';
@import '../../style/media-queries';


header {
    height: $play-logo-height;

    @include small-height {
        display: none;
    }

    .logo {
        display: block;
        height: $play-logo-height;
        margin: auto;
    }

    .play-column-left {
        float: left;
        height: 100%;
        position: relative;
        width: $play-secondary-width;
    }

    .play-column-right {
        float: right;
        height: 100%;
        position: relative;
        width: $play-secondary-width;
    }

    .play-column-center {
        display: inline-block;
        width: 100 - 2 * $play-secondary-width;
    }

    .play-column-left,
    .play-column-right {
        a {
            margin: 0;
            position: absolute;
            right: 50%;
            top: 50%;
            transform: translate(50%, -50%);
        }
    }
}


#play {
    height: $play-full-height;
    margin-left: auto;
    margin-right: auto;
    min-height: $play-full-min-height;
    min-width: $play-full-min-width;
}


.play-left {
    background: url(/#{$version}/assets/game/backgrounds/gauge.jpg);
    background-size: 100% 100%;
    display: block;
    float: left;
    height: $play-full-height;
    min-height: $play-full-min-height;
    width: $play-secondary-width;

    @include small-width {
        display: none;
    }

    @include small-height {
        height: $play-full-height + $play-logo-height;
    }
}

.player-name {
    margin-bottom: 0;
}

#trumps-container {
    position: relative;
}

.play-middle {
    display: inline-block;
    height: $play-full-height;
    min-height: $play-full-min-height;
    width: $play-main-width;

    @include small-width {
        width: $play-main-width + $play-secondary-width;
    }

    @include small-height {
        height: $play-full-height + $play-logo-height;
    }
}


#board-bg {
    background: url(/#{$version}/assets/game/backgrounds/board.jpg);
    background-size: 100% 100%;
    height: $play-main-height - 2vh; /* Compensate for padding-top & padding-bottom */
    min-height: $play-main-min-height;
    padding: 1vh 0.2em 1vh 0.4em;
    position: relative;
}

#board-container {
    display: block;
    margin: auto;
    overflow: hidden;
    padding-top: 0.5vh;
    text-align: center;
}

#board {
    height: $play-main-height - 3vh;
    min-height: $play-main-min-height - 10px;
}

#cards-container {
    align-items: center;
    background: url(/#{$version}/assets/game/backgrounds/cards.jpg);
    background-size: 100% 100%;
    display: flex;
    height: $play-secondary-height;
    justify-content: center;
    min-height: $play-secondary-min-height;
    text-align: center;

    @include small-height {
        height: $play-secondary-height + $play-logo-height;
    }
}

.play-right {
    display: block;
    float: right;
    height: $play-full-height;
    min-height: $play-full-min-height;
    width: $play-secondary-width;

    @include small-height {
        height: $play-full-height + $play-logo-height;
    }
}

#notifications {
    background: url(/#{$version}/assets/game/backgrounds/infos.jpg);
    background-size: 100% 100%;
    height: $play-main-height;
    min-height: $play-main-min-height;
}

#notifications img {
    max-width: 100px;
    width: 90%;
}

#description {
    margin-left: 4%;
    margin-right: 3%;
}

#counter-countainer {
    align-items: center;
    background-image: url(/#{$version}/assets/game/backgrounds/stopwatch.jpg);
    background-size: 100% 100%;
    display: flex;
    height: $play-secondary-height;
    min-height: $play-secondary-min-height;
    position: relative;

    @include small-height {
        height: $play-secondary-height + $play-logo-height;
    }
}
