$play-full-height: 87vh;
$play-main-height: 66vh;
$play-secondary-height: 21vh;

$play-main-width: 64%;
$play-secondary-width: 18%;


.logo {
    display: block;
    height: 90px;
    margin: auto;
}


#play {
    height: $play-full-height;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.3%;
}


.play-left {
    background: url(/assets/game/backgrounds/gauge.png);
    background-size: 100% 100%;
    display: block;
    float: left;
    height: $play-full-height;
    width: $play-secondary-width;
}

.player-name {
    margin-bottom: 0;
}

#trumps-container {
    position: relative;
}

.play-middle {
    display: inline-block;
    height: $play-full-height;
    width: $play-main-width;
}


#board-bg {
    background: url(/assets/game/backgrounds/board.png);
    background-size: 100% 100%;
    height: $play-main-height;
}

#board-container {
    display: block;
    margin: auto;
    padding-top: 1.8vh;
    text-align: center;
}

#board {
    height: $play-main-height - 3vh;
}

#cards-container {
    background: url(/assets/game/backgrounds/cards.png);
    background-size: 100% 100%;
    height: $play-secondary-height;
}

.play-right {
    display: block;
    float: right;
    height: $play-full-height;
    width: $play-secondary-width;
}

#notifications {
    background: url(/assets/game/backgrounds/infos.png);
    background-size: 100% 100%;
    height: $play-main-height;
}

#notifications img {
    max-width: 100px;
    width: 90%;
}

#description {
    margin-left: 4%;
    margin-right: 3%;
}

#counter-countainer {
    height: $play-secondary-height;
}
