.logo {
    display: block;
    height: 90px;
    margin: auto;
}


#play {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.3%;
    max-width: 1600px;
    min-width: 780px;
}


.play-left {
    background: url(/assets/game/backgrounds/gauge.png);
    background-size: 100% 100%;
    display: block;
    float: left;
    width: 18%;
}

.player-name {
    margin-bottom: 0;
}

#trumps-container {
    position: relative;
}

.play-middle {
    display: inline-block;
    width: 64%;
}


#board-bg {
    background: url(/assets/game/backgrounds/board.png);
    background-size: 100% 100%;
}

#board-container {
    display: block;
    margin: auto;
    padding-bottom: 2%;
    padding-top: 3%;
    text-align: center;
}

#board {
    max-width: 600px;
}

#cards-container {
    background: url(/assets/game/backgrounds/cards.png);
    background-size: 100% 100%;
    padding-bottom: 1.5%;
    padding-left: 3%;
    padding-top: 1.5%;
}

#cards-img-container {
    margin-top: -20px;
}

.play-right {
    display: block;
    float: right;
    width: 18%;
}

#notifications {
    background: url(/assets/game/backgrounds/infos.png);
    background-size: 100% 100%;
    padding: 20px;
}

#notifications img {
    max-width: 100px;
    width: 90%;
}

#description {
    margin-left: 4%;
    margin-right: 3%;
}


/* Very small screens */
@media screen and (max-width: 799px) {
    .play-left,
    .play-right {
        display: none;
    }
}


@media screen and (max-height: 899px) {
    .logo {
        display: block;
        height: 74px;
        margin: auto;
    }

    #board {
        height: 380px;
        max-width: 355px;
    }

    #board-container {
        display: block;
        height: 380px;
        margin: auto;
        padding-bottom: 2%;
        padding-top: 3%;
        text-align: center;
    }

    #cards-container {
        height: 140px;
    }

    #cards-img-container {
        display: block;
        float: left;
        height: 130px;
        overflow: hidden;
        width: 70%;
    }

    .play-left {
        height: 588px;
    }

    #trumps-container {
        height: 588px;
    }

    .margin-top-70 {
        margin-top: 7px;
    }

    #notifications {
        height: 383px;
    }

    #notifications img {
        display: none;
    }
}


@media screen and (min-height: 650px) and (max-height: 749px) {
    #board {
        max-width: 380px;
    }

    #board-container {
        padding-bottom: 6px;
        padding-top: 14px;
    }

    .play-left {
        height: 528px;
    }

    #trumps-container {
        height: 528px;
    }

    #cards-container {
        min-height: 100px;
    }

    #notifications {
        height: 364px;
    }


    #notifications img {
        display: none;
    }
}


/* 800--1200px large >=900px high */
@media screen and (min-width: 800px) and (min-height: 900px) {
    .play-left {
        height: 742px;
    }

    #trumps-container {
        height: 742px;
    }

    .play-middle {
        height: 742px;
    }

    #board-container {
        height: 548px;
        padding-bottom: 0;
        padding-top: 25px;
    }

    #board {
        height: 548px;
        max-width: 500px;
    }

    #cards-container {
        height: 150px;
    }

    #notifications {
        height: 537px;
    }
}


/* 1200--1500px large and >= 900px high */
@media screen and (min-width: 1200px) and (min-height: 900px) {
    .play-left {
        height: 769px;
    }

    .play-middle {
        height: 769px;
    }

    #board-container {
        height: 570px;
        max-width: 600px;
    }

    #board {
        height: 570px;
        max-width: 550px;
    }

    #cards-container {
        height: 150px;
    }

    #notifications {
        height: 555px;
    }

    #play {
        max-width: 1315px;
    }
}


/* >1500px large and >=925px high */
@media screen and (min-width: 1500px) and (min-height: 925px) {
    .play-left {
        height: 826px;
    }

    #trumps-container {
        height: 826px;
    }

    .play-middle {
        height: 826px;
    }

    #board-container {
        height: 620px;
        max-width: 600px;
    }

    #board {
        height: 620px;
        max-width: 600px;
    }

    #cards-container {
        height: 150px;
    }

    #notifications {
        height: 605px;
    }

    #play {
        max-width: 1450px;
    }
}
