@import '../../style/variables';


.logo {
    display: block;
    height: $play-logo-height;
    margin: auto;

    @media screen and (max-height: 545px) {
        display: none;
    }
}


#play {
    height: $play-full-height;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.3%;
}


.play-left {
    background: url(/assets/game/backgrounds/gauge.png);
    background-size: 100% 100%;
    display: block;
    float: left;
    height: $play-full-height;
    width: $play-secondary-width;

    @media screen and (max-width: 800px) {
        display: none;
    }

    @media screen and (max-height: 545px) {
        height: $play-full-height + $play-logo-height;
    }
}

.player-name {
    margin-bottom: 0;
}

#trumps-container {
    position: relative;
}

.play-middle {
    display: inline-block;
    height: $play-full-height;
    width: $play-main-width;

    @media screen and (max-width: 800px) {
        width: $play-main-width + $play-secondary-width;
    }

    @media screen and (max-height: 545px) {
        height: $play-full-height + $play-logo-height;
    }
}


#board-bg {
    background: url(/assets/game/backgrounds/board.png);
    background-size: 100% 100%;
    height: $play-main-height;
}

#board-container {
    display: block;
    margin: auto;
    padding-top: 1.8vh;
    text-align: center;
}

#board {
    height: $play-main-height - 3vh;
}

#cards-container {
    background: url(/assets/game/backgrounds/cards.png);
    background-size: 100% 100%;
    height: $play-secondary-height;
    text-align: center;

    @media screen and (max-height: 545px) {
        height: $play-secondary-height + $play-logo-height;
    }

    @media screen and (max-height: 800px) {
        display: flex;
        align-items: center;
    }
}

.play-right {
    display: block;
    float: right;
    height: $play-full-height;
    width: $play-secondary-width;

    @media screen and (max-height: 545px) {
        height: $play-full-height + $play-logo-height;
    }
}

#notifications {
    background: url(/assets/game/backgrounds/infos.png);
    background-size: 100% 100%;
    height: $play-main-height;
}

#notifications img {
    max-width: 100px;
    width: 90%;
}

#description {
    margin-left: 4%;
    margin-right: 3%;
}

#counter-countainer {
    align-items: center;
    background-image: url(/assets/game/backgrounds/stopwatch.png);
    background-size: 100% 100%;
    display: flex;
    height: $play-secondary-height;
    position: relative;

    @media screen and (max-height: 545px) {
        height: $play-secondary-height + $play-logo-height;
    }
}
