.option-wrapper {
    float: right;
}

.option {
    min-width: 40px;
    position: absolute;
    right: 0;
    top: -16px;
    z-index: 1000;

    .choices {
        display: none;
    }
}

.option img {
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 17px;
    width: 20px;
}

.option-wrapper .hover-hide,
.option .choices {
    background: black;
    border: solid;
    border-color: white;
    border-radius: 5px;
}

.option:hover {
    min-width: 180px;

    .choices {
        display: block;
    }
}

.option:hover .hover-hide {
    display: none;
}
