<!--
# Copyright (C) 2015-2016 by Arena of Titans Contributors.
#
# This file is part of Arena of Titans.
#
# Arena of Titans is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Arena of Titans is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with Arena of Titans. If not, see <http://www.GNU Affero.org/licenses/>.
-->

<template>
    <require from="./home.css"></require>
    <require from="./slider.css"></require>
    <require from="./widgets/aot-header/aot-header"></require>
    <require from="./widgets/aot-home-slider/aot-home-slider"></require>
    <require from="./widgets/aot-footer/aot-footer"></require>

    <aot-home-slider></aot-home-slider>
    <aot-header></aot-header>

    <div class="row-block">

        <div class="bg-content">
            <p class="centered-important" t="[html]site.homepage.pitch"><strong>Oserez-vous entrer dans l'Arène des Titans ?</strong><br/>
                Créez votre parcours à l’aide de vos cartes Déplacement,<br/>
                Utilisez celles de vos adversaires pour les devancer,<br/>
                Bloquez-les à l’aide de vos Atouts,<br/>
                Arrivez en premier…<br/>
                Et Survivez !
            </p>

            <div>
                <img class="small-column-left"
                     src="/latest/assets/homepage/daemon.png"
                     alt="Daemon looking at you" />

                <div class="big-column-center">
                    <div id="content-slider">
                        <div id="slider">
                            <div>
                                <div class="img-container">
                                    <img src="/latest/assets/homepage/slider/gameplay.png" alt="gameplay" />
                                    <h1 class="tooltip" t="site.homepage.slider1">Un gameplay unique</h1>
                                </div>
                                <div class="img-container">
                                    <img src="/latest/assets/homepage/slider/multiplayer.png" alt="multijoueur" />
                                    <h1 class="tooltip" t="site.homepage.slider2">Défiez jusqu'à 7 de vos amis</h1>
                                </div>
                                <div class="img-container">
                                    <img src="/latest/assets/homepage/slider/beta-available.png" alt="beta" />
                                    <h1 class="tooltip" t="site.homepage.slider3">Version Bêta disponible !</h1>
                                </div>
                                <div class="img-container">
                                    <img src="/latest/assets/homepage/slider/gameplay.png" alt="gameplay" />
                                    <h1 class="tooltip" t="site.homepage.slider1">Un gameplay unique</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <img class="small-column-right"
                     src="/latest/assets/homepage/angel.png"
                     alt="Angel with a blindfold on the eyes" />
            </div>
        </div>

        <div class="bg-content bg-content-padding">
            <img class="half-column-left border-black"
                 src="/latest/assets/homepage/board.png"
                 alt="The board of the game" />
            <div class="half-column-right">
                <img src="/latest/assets/homepage/families.png"
                     alt="Available card families" />
                <p t="site.homepage.families">Quatre familles dominent l’Arène, utilisez l’influence de leurs membres pour pouvoir traverser les différentes zones !</p>
                <img src="/latest/assets/homepage/families-flames.png"
                     alt="The flames of each family" />
            </div>
        </div>

        <div class="bg-content bg-content-padding">
            <div class="centered-block">
                <p class="centered-important" t="[html]site.homepage.tutorial"></p>
                <div class="video-container">
                    <video class="centered-block" controls>
                        <source src="//static.arenaoftitans.com/tuto/tutoriel_aot.ogv" type='video/ogg; codecs="theora, vorbis"'/>
                        <source src="//static.arenaoftitans.com/tuto/tutoriel_aot.webm" type='video/webm' >
                        <source src="//static.arenaoftitans.com/tuto/tutoriel_aot.mp4" type='video/mp4'>
                        <p>Video is not visible, most likely your browser does not support HTML5 video</p>
                    </video>
                </div>
            </div>
        </div>

        <div class="bg-content bg-content-padding">
            <div>
                <p class="centered-important" t="site.homepage.heroes">Choisissez votre héros parmi les 8 peuples et déchainez son pouvoir contre vos adversaires !</p>
            </div>
            <div class="centered-important">
                <img class="big-column-center"
                     src="/latest/assets/homepage/home_page_heroes_with_light.png"
                     alt="Heroes of the Arena" />
            </div>
        </div>
    </div>

    <aot-footer></aot-footer>
</template>
