<!--
# Copyright (C) 2015-2016 by Arena of Titans Contributors.
#
# This file is part of Arena of Titans.
#
# Arena of Titans is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Arena of Titans is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with Arena of Titans. If not, see <http://www.GNU Affero.org/licenses/>.
-->

<template>
    <require from="./create.css"></require>
    <require from="../../widgets/select-heroes/select-heroes"></require>
    <require from="../../widgets/heroes-viewer/heroes-viewer"></require>
    <require from="./widgets/slot/slot"></require>
    <require from="./widgets/url-copy/url-copy"></require>

    <div class="create-game-container"
         if.bind="creating">
        <div class="splash-block">
            <div class="message">loading</div>
            <i class="fa fa-spinner fa-spin"></i>
        </div>
    </div>

    <div class="create-game-container"
         if.bind="!creating">
        <div class="left-wall wall-part">
            <div class="heroes-viewr-container">
                <h3 t="game.create.heroes"
                    class="centered-text white-text"></h3>
                <aot-heroes-viewer selected-hero.two-way="selectedHero"></aot-heroes-viewer>
            </div>
            <div class="heroes-description-container">
                <p class="white-text centered-text">${'heroes.' + selectedHero & t}</p>
                <p class="white-text">${'heroes.' + selectedHero + '_short_description' & t}</p>
                <p class="white-text">${'heroes.' + selectedHero + '_power' & t}</p>
            </div>
        </div>

        <div class="door wall-part">
            <div class="door-arch">
                <h2 class="white-text" t="global.alias"></h2>
                <input class="centered-text centered-block"
                       type="text"
                       maxlength="12"
                       value.two-way="playerInfos.name & debounce" />
            </div>

            <div class="door-main">
                <aot-select-heroes selected-hero.two-way="selectedHero"></aot-select-heroes>

                <div class="bottom-door">
                    <button class="blue-button centered-block big-button"
                            if.bind="me.is_game_master"
                            disabled.bind="!canCreateGame"
                            click.trigger="createGame()"
                            t="game.create.create">
                        Create Game
                    </button>
                </div>
            </div>
        </div>

        <div class="right-wall wall-part">
            <div class="slots-container">
                <aot-slot repeat.for="slot of slots"
                          can-admin.bind="isGameMaster"
                          player.bind="slot"></aot-slot>
            </div>
            <div class="game-url-container"
                 if.bind="me.is_game_master">
                <h2 class="bright-red-text" t="game.create.invite">Invite</h2>
                <aot-url-copy url.bind="gameUrl"></aot-url-copy>
            </div>
        </div>
    </div>
</template>
