html,
body {
    background-image: url("/assets/game/backgrounds/background.png");
    font-family: 'Berkshire Swash', cursive;
    margin: auto;
}

#copy-invite-link {
    margin-left: 5px;
    width: 27px;
}

#copy-invite-link:hover {
    background-color: grey;
}

.selected-hero {
    display: block;
    margin: auto;
    max-width: 150px;
}
