/*
Copyright (C) 2017 by Arena of Titans Contributors.

This file is part of Arena of Titans.

Arena of Titans is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Arena of Titans is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Arena of Titans. If not, see <http://www.gnu.org/licenses/>.
*/

aot-board-controls {
    bottom: 44%;
    position: absolute;
    right: 8.5%;

    .arrow {
        cursor: pointer;
        position: absolute;
    }

    .arrow-container {
        position: relative;
        right: -4px;
    }

    .arrow-up {
        right: 0;
        top: 0;
        transform: scale(3, 2);
    }

    .arrow-down {
        right: 0;
        top: 54px;
        transform: scale(3, 2);
    }

    .arrow-right {
        right: -26px;
        top: 30px;
        transform: scale(2, 3);
    }

    .arrow-left {
        right: 31px;
        top: 30px;
        transform: scale(2, 3);
    }

    .controls-container {
        position: relative;
    }

    .reset-button {
        bottom: -76px;
        cursor: pointer;
        position: absolute;
        right: -2px;
    }

    .reset-button-container {
        position: relative;
    }

    .zoom-container {
        bottom: 59px;
        position: relative;
        right: -68px;
        transform: rotate(-90deg);

        /*
         * Fix width and height so positioning is correct on all browsers. For instance, by
         * default, on FireFox the input is larger causing it to be on the left of the correct
         * position
         */
        input {
            height: 21px;
            padding: 0;
            width: 110px;
        }
    }

    .zoom-control {
        -webkit-appearance: none;
        background: url('/#{$version}/assets/game/backgrounds/zoom.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin: 0;
    }

    .zoom-indicator {
        transform: rotate(90deg) translate(-25%);
    }
}
