<!--
# Copyright (C) 2015-2016 by Arena of Titans Contributors.
#
# This file is part of Arena of Titans.
#
# Arena of Titans is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Arena of Titans is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with Arena of Titans. If not, see <http://www.GNU Affero.org/licenses/>.
-->

<template>
    <require from="./notifications.css"></require>

    <p class="centered-important margin-0"
       if.bind="!tutorialInProgress"
       t="[html]game.play.whose_turn_message"
       t-params.bind="{playerName: currentPlayerName}">
        It's the turn of
    </p>

    <div if.bind="!tutorialInProgress && !specialActionInProgress">
        <p if.bind="lastAction.description">
            ${lastAction.description}
            <span><br></span>
        </p>
        <p if.bind="!lastAction.description">
            <em t="game.play.no_action">No action yet</em>
        </p>

        <img class="centered-block"
             src.bind="lastAction.img"
             if.bind="lastAction && lastAction.img" />

        <div if.bind="lastAction && lastAction.card">
            <p class="centered-important"><strong class="blue-text">${lastAction.card.title}</strong></p>
            <p>
                ${lastAction.card.description}
            </p>
            <p>
                <em if.bind="lastAction.card.complementaryDescription.indexOf('cards.') === -1">
                    ${lastAction.card.complementaryDescription}
                </em>
            </p>
        </div>

        <div if.bind="lastAction && lastAction.trump">
            <p class="centered-important"><strong class="blue-text">${lastAction.trump.title}</strong></p>
            <p>
                ${lastAction.trump.description}
            </p>
        </div>

        <div if.bind="lastAction && lastAction.specialAction">
            <p class="centered-important"><strong class="blue-text">${lastAction.specialAction.title}</strong></p>
            <p>
                ${lastAction.specialAction.description}
            </p>
        </div>
    </div>

    <p class="centered-important margin-0"
       if.bind="tutorialInProgress">
        <strong class="blue-text" t="game.visit.title"></strong>
    </p>

    <div if.bind="tutorialInProgress">
        <div>
            <p>${guidedVisitText}</p>
        </div>
    </div>

    <div if.bind="specialActionInProgress">
        <div>
            <p>${specialActionText}</p>
        </div>
    </div>
</template>
