<!--
# Copyright (C) 2015-2016 by Arena of Titans Contributors.
#
# This file is part of Arena of Titans.
#
# Arena of Titans is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Arena of Titans is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with Arena of Titans. If not, see <http://www.GNU Affero.org/licenses/>.
-->

<template>
    <require from="./gauge.css"></require>

    <svg
        xmlns:dc="http://purl.org/dc/elements/1.1/"
        xmlns:cc="http://creativecommons.org/ns#"
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:svg="http://www.w3.org/2000/svg"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
        xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
        version="1.1"
        id="gauge-svg"
        x="0px"
        y="0px"
        width="100%"
        height="100%"
        viewBox="0 0 137.666 611.90631"
        enable-background="new 0 0 612 792"
        xml:space="preserve"
        inkscape:version="0.91 r13725"
        sodipodi:docname="aot_gauge.svg">
        <defs id="defs82">
            <linearGradient
                id="gauge-fill-1"
                gradientUnits="userSpaceOnUse"
                x1="303.4167"
                y1="95.2002"
                x2="303.4167"
                y2="565.9648">
                <stop
                    offset="0"
                    style="stop-color:#FFFFFF"
                    id="stop29" />
                <stop
                    offset="3.397432e-02"
                    style="stop-color:#F4FFF4"
                    id="stop31" />
                <stop
                    offset="9.395371e-02"
                    style="stop-color:#D7FED6"
                    id="stop33" />
                <stop
                    offset="0.1729"
                    style="stop-color:#A8FDA6"
                    id="stop35" />
                <stop
                    offset="0.2666"
                    style="stop-color:#67FC64"
                    id="stop37" />
                <stop
                    offset="0.3429"
                    style="stop-color:#2DFB29"
                    id="stop39" />
                <stop
                    offset="0.3463"
                    style="stop-color:#2EFF2A"
                    id="stop41" />
                <stop
                    offset="0.4307"
                    style="stop-color:#2BEF27"
                    id="stop43" /><stop
                    offset="0.6976"
                    style="stop-color:#2CF528"
                    id="stop45" />
                <stop
                    offset="0.7691"
                    style="stop-color:#20B51B"
                    id="stop47" />
                <stop
                    offset="0.8403"
                    style="stop-color:#157D0F"
                    id="stop49" />
                <stop
                    offset="0.901"
                    style="stop-color:#0D5507"
                    id="stop51" />
                <stop
                    offset="0.9489"
                    style="stop-color:#083C02"
                    id="stop53" />
                <stop
                    offset="0.978"
                    style="stop-color:#063300"
                    id="stop55" />
            </linearGradient>
            <linearGradient
                id="gauge-fill-trumps-costs-1"
                gradientUnits="userSpaceOnUse"
                x1="303.4167"
                y1="95.2002"
                x2="303.4167"
                y2="565.9648">
                <stop
                    offset="0"
                    style="stop-color: #B2B2B2"
                    id="stop129" />
                <stop
                    offset="3.397432e-02"
                    style="stop-color: #AAB2AA"
                    id="stop131" />
                <stop
                    offset="9.395371e-02"
                    style="stop-color: #96b195"
                    id="stop133" />
                <stop
                    offset="0.1729"
                    style="stop-color: #75b174"
                    id="stop135" />
                <stop
                    offset="0.2666"
                    style="stop-color: #48b046"
                    id="stop137" />
                <stop
                    offset="0.3429"
                    style="stop-color: #1faf1c"
                    id="stop139" />
                <stop
                    offset="0.3463"
                    style="stop-color: #20b21d"
                    id="stop141" />
                <stop
                    offset="0.4307"
                    style="stop-color: #1ea71b"
                    id="stop143" /><stop
                    offset="0.6976"
                    style="stop-color: #1eab1c"
                    id="stop145" />
                <stop
                    offset="0.7691"
                    style="stop-color: #167e12"
                    id="stop147" />
                <stop
                    offset="0.8403"
                    style="stop-color: #0e570a"
                    id="stop149" />
                <stop
                    offset="0.901"
                    style="stop-color: #093b04"
                    id="stop151" />
                <stop
                    offset="0.9489"
                    style="stop-color: #052A01"
                    id="stop153" />
                <stop
                    offset="0.978"
                    style="stop-color: #042300"
                    id="stop155" />
            </linearGradient>
            <radialGradient
                id="gauge-fill-2"
                cx="303.3335"
                cy="635.8315"
                r="69.3405"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(171.99153,-28.525424)">
                <stop
                    offset="6.382980e-02"
                    style="stop-color:#FFFFFF"
                    id="stop85" />
                <stop
                    offset="0.3116"
                    style="stop-color:#FDFDFD"
                    id="stop87" />
                <stop
                    offset="0.4408"
                    style="stop-color:#F5F7F5"
                    id="stop89" />
                <stop
                    offset="0.5426"
                    style="stop-color:#E9ECE7"
                    id="stop91" />
                <stop
                    offset="0.6302"
                    style="stop-color:#D7DDD4"
                    id="stop93" />
                <stop
                    offset="0.7086"
                    style="stop-color:#C0C9BC"
                    id="stop95" />
                <stop
                    offset="0.7804"
                    style="stop-color:#A3B09D"
                    id="stop97" />
                <stop
                    offset="0.8473"
                    style="stop-color:#819379"
                    id="stop99" />
                <stop
                    offset="0.9102"
                    style="stop-color:#59714F"
                    id="stop101" />
                <stop
                    offset="0.9678"
                    style="stop-color:#2E4C20"
                    id="stop103" />
                <stop
                    offset="1"
                    style="stop-color:#123403"
                    id="stop105" />
            </radialGradient>

            <radialGradient
                id="gauge-fill-3"
                cx="303.3335"
                cy="635.8315"
                r="62.2701"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(-99.838983,5.8728814)">
                <stop
                    offset="6.382980e-02"
                    style="stop-color:#FFFFFF"
                    id="stop110" />
                <stop
                    offset="0.4149"
                    style="stop-color:#FDFEFD"
                    id="stop112" />
                <stop
                    offset="0.5414"
                    style="stop-color:#F7FBF6"
                    id="stop114" />
                <stop
                    offset="0.6316"
                    style="stop-color:#EDF5EB"
                    id="stop116" />
                <stop
                    offset="0.7045"
                    style="stop-color:#DDECDA"
                    id="stop118" />
                <stop
                    offset="0.767"
                    style="stop-color:#CAE1C4"
                    id="stop120" />
                <stop
                    offset="0.8223"
                    style="stop-color:#B1D4A8"
                    id="stop122" />
                <stop
                    offset="0.8723"
                    style="stop-color:#94C488"
                    id="stop124" />
                <stop
                    offset="0.9183"
                    style="stop-color:#72B162"
                    id="stop126" />
                <stop
                    offset="0.9592"
                    style="stop-color:#4D9C39"
                    id="stop128" />
                <stop
                    offset="0.9973"
                    style="stop-color:#24860B"
                    id="stop130" />
                <stop
                    offset="1"
                    style="stop-color:#218408"
                    id="stop132" />
            </radialGradient>

            <radialGradient
                id="gauge-value-gradient"
                cx="232.095"
                cy="578.3311"
                r="29.7849"
                gradientUnits="userSpaceOnUse">
                <stop offset="6.382980e-02" style="stop-color:#FFFFFF"/>
                <stop offset="0.1469" style="stop-color:#F4F5F3"/>
                <stop offset="0.2976" style="stop-color:#D5DBD3"/>
                <stop offset="0.4989" style="stop-color:#A4B19F"/>
                <stop offset="0.7433" style="stop-color:#607756"/>
                <stop offset="1" style="stop-color:#123403"/>
            </radialGradient>

            <mask id="filling-gauge-mask"
                  x="0"
                  y="0"
                  width="100"
                  height="100">
                <rect x="0" y="${currentY}" width="1000" height="466"
                      style="stroke:none; fill: #ffffff"/>
            </mask>
            <mask id="displaying-trump-cost-mask"
                  x="0"
                  y="0"
                  width="100"
                  height="100">
                <rect x="0" y="${currentY}" width="1000" height="${heightForCost}"
                      style="stroke:none; fill: #ffffff"/>
            </mask>
        </defs>
        <polygon
            stroke-miterlimit="10"
            points="313.375,125 313.375,567.265 294.377,567.265 294.417,124.625 303.5,96.5 "
            id="empty-gauge"
            style="fill: rgba(80, 80, 80, 0.8); stroke: #1d1d1b; stroke-miterlimit: 10"
            transform="translate(-234.50001,-94.924672)" />
        <polygon
            stroke-miterlimit="10"
            points="313.375,125 313.375,567.265 294.377,567.265 294.417,124.625 303.5,96.5 "
            id="filled-gauge"
            style="fill:url(#gauge-fill-1);stroke:#1d1d1b;stroke-miterlimit:10"
            mask="url(#filling-gauge-mask)"
            transform="translate(-234.50001,-94.924672)" />
        <polygon
            stroke-miterlimit="10"
            points="313.375,125 313.375,567.265 294.377,567.265 294.417,124.625 303.5,96.5 "
            id="trumps-costs-gauge"
            style="fill: url(#gauge-fill-trumps-costs-1);stroke:#1d1d1b;stroke-miterlimit:10"
            mask="url(#displaying-trump-cost-mask)"
            transform="translate(-234.50001,-94.924672)" />
        <ellipse
            stroke-miterlimit="10"
            cx="68.833"
            cy="541.0733"
            rx="68.333"
            ry="70.333"
            id="ellipse51"
            style="fill:url(#gauge-fill-2);stroke:#1d1d1b;stroke-miterlimit:10" />
        <ellipse
            stroke-miterlimit="10"
            cx="68.833"
            cy="540.90729"
            rx="60.667"
            ry="63.833"
            id="ellipse74"
            style="fill:url(#gauge-fill-3);stroke:#1d1d1b;stroke-miterlimit:10" />
        <image xlink:href.bind="heroImg"
               if.bind="heroImg"
               width="110"
               height="110"
               y="486"
               x="14"
               style="stroke:#1d1d1b;stroke-miterlimit:10" />
        <line
            stroke-miterlimit="10"
            x1="68.999992"
            y1="0.57532805"
            x2="68.833"
            y2="470.7403"
            id="line78"
            style="fill:none;stroke:#1d1d1b;stroke-miterlimit:10" />

        <!-- circle to display the value -->
        <g>
            <g transform="translate(-236.05063,-93.045201)">
                <circle cx="232.1" cy="578.3" r="29.8" style="fill: url(#gauge-value-gradient)" />
            </g>
            <g transform="translate(-3.9171229,-93.503552)">
                <circle x="232.1" cy="578.3" r="29.8" style="fill:none;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;" />
            </g>
            <circle cx="-3.9506269" cy="485.25479" r="22.7" style="fill:#020202;stroke:#000000;stroke-miterlimit:10;" />
            <text x="-3.9506269"
                  y="497"
                  text-anchor="middle"
                  fill="#FFF"
                  font-family="'Old English Text MT'"
                  font-size="2em">${displayedValue}</text>
        </g>
    </svg>
</template>
