<!--
Copyright (C) 2017 by Arena of Titans Contributors.

This file is part of Arena of Titans.

Arena of Titans is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Arena of Titans is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Arena of Titans. If not, see <http://www.gnu.org/licenses/>.
-->
<template>
    <p class="white-text">
        <span t="game.create.slot">Slot</span> n°${player.index + 1}
        &nbsp;
        <span if.bind="canAdmin && (player.state !== 'TAKEN' || !player.player_name)">
            <select class="slot-state-chooser" value.bind="player.state" change.delegate="updateSlot()">
                <option repeat.for="state of choosableSlotsStates"
                        value.bind="state"
                        t="game.create.${state}">
                </option>
            </select>
        </span>
        &nbsp;
        <span if.bind="(player.player_name && player.state === 'TAKEN') || !canAdmin">
            <span t="game.create.TAKEN" if.bind="player.state === 'TAKEN'"></span>
            <span t="game.create.OPEN" if.bind="player.state === 'OPEN'"></span>
            <span t="game.create.AI" if.bind="player.state === 'AI'"></span>
            <span t="game.create.CLOSED" if.bind="player.state === 'CLOSED'"></span>
            &nbsp;
            ${player.player_name}
        </span>
        <span if.bind="canAdmin && player.state === 'AI'">
            ${player.player_name}
        </span>
    </p>
</template>