<div id="createGame">
    <form id="createGameForm">
        <label>Add players</label>
        <div ng-repeat="player in players">
            <slot player="player" state-changed="slotStateChanged(index, state)" me="me"/>
        </div>
        <button ng-click="addPlayer()" ng-hide="!me.gameMaster">Add a player</button>
        <button ng-click="createGame()" ng-hide="!me.gameMaster">Create game</button>
    </form>
</div>

<div id="pageLink">
    Pour inviter vos amis, faites le parvenir le lien suivant : <br> {{shareUrl.href}}
</div>