@import "../../../style/media-queries";

.moves-block1 {
    border-bottom: wheat solid 1px;
    width: 100%;

    @include fluid {
        height: 270px;
    }
}

.moves-block2 {
    margin-bottom: 15vh;
    width: 100%;

    @include fluid {
        height: 300px;
    }
}

.forest-button {
    background: rgba(109, 197, 99, 0.745);
    border: white solid 1px;
    border-radius: 2px;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    margin-bottom: 25px;
    margin-right: 5px;
}

.desert-button {
    background: rgb(222, 207, 106);
    border: white solid 1px;
    border-radius: 2px;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    margin-bottom: 25px;
    margin-right: 5px;
}

.mountain-button {
    background: rgb(113, 109, 109);
    border: white solid 1px;
    border-radius: 2px;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    margin-bottom: 25px;
    margin-right: 5px;
}

.water-button {
    background: rgba(65, 131, 231, 0.807);
    border: white solid 1px;
    border-radius: 2px;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    margin-bottom: 25px;
    margin-right: 5px;
}

.moves-page-column-center {
    margin: auto;
    text-align: center;
}

.moves-page-text {
    color: #fff;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 25px;
    margin: 0 0 15px 0;

    @include media-sm {
        font-size: 20px;
    }

    @include media-md {
        font-size: 25px;
    }

    @include media-lg {
        font-size: 30px;
    }

    @include media-xl {
        font-size: 35px;
    }

    @include fluid {
        font-size: 15px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}

.moves-page-title {
    color: #fff;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
    margin: 0 0 15px 0;
    padding-bottom: 2%;
    padding-top: 3%;
    text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;

    @include media-sm {
        font-size: 25px;
    }

    @include media-md {
        font-size: 30px;
    }

    @include media-lg {
        font-size: 40px;
    }

    @include media-xl {
        font-size: 45px;
    }

    @include fluid {
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}
