@import 'button';
@import 'fa';

body {
    background-image: url(/#{$version}/assets/backgrounds/background.jpg);
    font-family: 'Berkshire Swash', cursive;
}


body {
    margin: 0;
}


h1 {
    color: maroon;
}


h1,
h2 {
    text-align: center;
}


p {
    color: black;
}


select {
    font-family: 'Berkshire Swash', cursive;
}

.logo {
    background: url(/#{$version}/assets/game/aot-logo.png) no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
}

.logo-shadow {
    background: url(/#{$version}/assets/game/aot-logo-shadow.png) no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
}

.translate-y-35 {
    transform: translateY(35%);
}


.translate-y-25 {
    transform: translateY(25%);
}


.translate-y-150 {
    transform: translateY(150%);
}


.hidden {
    display: none !important;
}


.pointer {
    cursor: pointer;
}

.not-allowed {
    cursor: not-allowed;
}


.display-table {
    display: table;
}

.display-table-cell {
    display: table-cell;
}


.centered-important {
    font-size: x-large;
    text-align: center;
}

.centered-block {
    display: block;
    margin: auto;
}

.centered-block-medium {
    display: block;
    margin: auto;
    width: 300px;
}

.centered-text {
    text-align: center;
}

.centered-text-timer {
    font-family: 'Old English Text MT';
    text-align: center;
    top: -150px;
}

.centered-important strong {
    color: maroon;
}

.white-text,
strong.white-text {
    color: white;
}

.blue-text,
strong.blue-text {
    color: mediumblue;
}

.red-text {
    color: #b40404;
}

.bright-red-text {
    color: #f00;
}

.margin-0 {
    margin: 0;
}

.margin-top-0 {
    margin-top: 0;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-70 {
    margin-top: 70px;
}

.margin-top-160 {
    margin-top: 160px;
}


.svg-full-screen-bg {
    min-height: 100vh;
    position: absolute;
    top: 0;
    z-index: -10;
}


.hidden-on-page-load {
    position: absolute;
    top: -500px;
}


.blink-img {
    opacity: 0.2 !important;
}

.blink-container {
    opacity: 0.5 !important;
}


.navigating {
    cursor: wait !important;
    opacity: 0.7;
}

.navigating button {
    cursor: wait !important;
    opacity: 0.5;
}


.inline {
    display: inline;
}


.social {
    a {
        background-repeat: no-repeat;
        background-size: 18px;
        color: white;
        margin-right: 90px;
        padding-left: 25px;
        text-decoration: none;
    }

    a[href*="twitter.com"] {
        background-image: url(/#{$version}/assets/icons/twitter.png);
    }

    a[href*="facebook.com"] {
        background-image: url(/#{$version}/assets/icons/facebook.png);
    }

    a[href*="bitbucket.org"] {
        background-image: url(/#{$version}/assets/icons/bitbucket.png);
    }
}


/* latin-ext */
@font-face {
    font-family: 'Berkshire Swash';
    font-style: normal;
    font-weight: 400;
    src: local('Berkshire Swash'), local('BerkshireSwash-Regular'), url(/#{$version}/assets/fonts/BerkshireSwash.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Berkshire Swash';
    font-style: normal;
    font-weight: 400;
    src: local('Berkshire Swash'), local('BerkshireSwash-Regular'), url(/#{$version}/assets/fonts/BerkshireSwash.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
