/*
Copyright (C) 2016 by Arena of Titans Contributors.

This file is part of Arena of Titans.

Arena of Titans is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Arena of Titans is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Arena of Titans. If not, see <http://www.gnu.org/licenses/>.
*/

$phone-width: 599px;
$medium-width: 1000px;
$small-width: 800px;

$tiny-height: 390px;
$small-height: 545px;
$medium-height: 800px;

@mixin fluid {
    @media screen and (max-width: #{$phone-width}) {
        @content;
    }
}

@mixin medium-width {
    @media screen and (max-width: #{$medium-width}) {
        @content;
    }
}

@mixin small-width {
    @media screen and (max-width: #{$small-width}) {
        @content;
    }
}


@mixin tiny-height {
    @media screen and (max-height: #{$tiny-height}) {
        @content;
    }
}

@mixin small-height {
    @media screen and (max-height: #{$small-height}) {
        @content;
    }
}

@mixin medium-height {
    @media screen and (max-height: #{$medium-height}) {
        @content;
    }
}
