/*
Copyright (C) 2016 by Arena of Titans Contributors.

This file is part of Arena of Titans.

Arena of Titans is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Arena of Titans is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Arena of Titans. If not, see <http://www.gnu.org/licenses/>.
*/

$play-logo-height: 8vh;
$play-full-height: 100vh - $play-logo-height;
$play-main-height: 0.75 * $play-full-height;
$play-secondary-height: 0.25 * $play-full-height;
$play-full-min-height: 320px;
$play-main-min-height: 0.75 * $play-full-min-height;
$play-secondary-min-height: 0.25 * $play-full-min-height;

$play-main-width: 64%;
$play-secondary-width: (100% - $play-main-width) / 2;
$play-full-min-width: 568px;
