/*
Copyright (C) 2017 by Arena of Titans Contributors.

This file is part of Arena of Titans.

Arena of Titans is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Arena of Titans is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Arena of Titans. If not, see <http://www.gnu.org/licenses/>.
*/

aot-trump {
    .power-trump {
        display: block;
        margin: 1.5vh auto;
        max-height: 12vh;
        max-width: 60%;
        min-width: 42px;
        transition: opacity 2s;
    }

    .player-trump {
        display: block;
        margin-left: 30%;
        margin-top: 2.5vh;
        max-height: 12vh;
        max-width: 60%;
        min-width: 42px;
        transition: opacity 2s;
    }

    .trump-affecting-player {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1vh;
        max-height: 10.5vh;
        max-width: 40%;
        min-width: 32px;
    }

    .active-trump {
        cursor: pointer;
    }

    .inactive-trump {
        opacity: 0.6;
    }

    .passive-trump {
        cursor: default;
    }
}
