aot-board {
    .pawnCircle {
        stroke: #000;
        stroke-miterlimit: 10;
        stroke-width: 9;
    }


    #player0 .pawnCircle {
        fill: #ee731b;
    }

    #player1 .pawnCircle {
        fill: #e52b20;
    }

    #player2 .pawnCircle {
        fill: #d4d922;
    }

    #player3 .pawnCircle {
        fill: #58c0d0;
    }

    #player4 .pawnCircle {
        fill: #6db52d;
    }

    #player5 .pawnCircle {
        fill: #533f92;
    }

    #player6 .pawnCircle {
        fill: #fff;
    }

    #player7 .pawnCircle {
        fill: #c24793;
    }

    rect,
    path {
        opacity: 0.8;
        stroke: #000;
        stroke-dasharray: none;
        stroke-miterlimit: 4;
        stroke-opacity: 1;
        stroke-width: 2.24024391;
    }

    .red-square {
        fill: red;
    }

    .yellow-square {
        fill: yellow;
    }

    .black-square {
        fill: black;
    }

    .blue-square {
        fill: blue;
    }

    .last-line-square {
        opacity: 0.5;
    }

    .highlightedSquare {
        cursor: pointer;
        fill: green !important;
    }

    .pawn {
        fill: black;
    }

    /* Very small screens */
    @media screen and (max-width: 799px) {
        #board {
            max-width: 233px;
        }
    }
}
