@import '../../../../style/players-colors';


$square-blink-time: 1s;
$square-opacity: 0.6;

aot-board {
    .pawn-circle {
        stroke: #000;
        stroke-miterlimit: 10;
        stroke-width: 9;
    }


    @for $i from 0 to length($players-colors) {
        #player#{$i} .pawn-circle,
        path.arrival-#{$i} {
            fill: nth($players-colors, $i + 1);
        }
    }

    rect,
    path {
        opacity: $square-opacity;
        stroke: #000;
        stroke-dasharray: none;
        stroke-miterlimit: 4;
        stroke-opacity: 1;
        stroke-width: 2.24024391;
    }

    .square {
        &.red {
            fill: red;
        }

        &.yellow {
            fill: yellow;
        }

        &.black {
            fill: black;
        }

        &.blue {
            fill: blue;
        }

        &.highlighted {
            animation: square-blink $square-blink-time infinite;
            cursor: pointer;
            stroke: white;

            &:hover {
                animation-play-state: paused;
                opacity: 1 !important;
            }
        }

        &.selectable {
            cursor: pointer;

            &:hover {
                cursor: pointer;
                opacity: 1;
            }
        }
    }

    .last-line-square {
        opacity: 1;
    }

    .pawn {
        stroke: #13110c;
        stroke-miterlimit: 10;
        stroke-width: 0.5px;
    }

    /* square-blink */
    @keyframes square-blink {
        0% { opacity: $square-opacity; }
        50% { opacity: 1; }
        100% { opacity: $square-opacity; }
    }
}
