@import '../../../../style/players-colors';


$square-blink-time: 1s;
$square-opacity: 0.6;

aot-board {
    .square {
        &.highlighted {
            animation: square-blink $square-blink-time infinite;
            cursor: pointer;
            opacity: $square-opacity;

            &:hover {
                animation-play-state: paused;
                opacity: $square-opacity !important;
            }
        }

        &.selectable {
            cursor: pointer;

            &:hover {
                cursor: pointer;
                opacity: 1;
            }
        }
    }

    .pawn {
        stroke: #13110c;
        stroke-miterlimit: 10;
        stroke-width: 0.5px;
    }

    /* square-blink */
    @keyframes square-blink {
        0% { opacity: $square-opacity; }
        50% { opacity: 1; }
        100% { opacity: $square-opacity; }
    }
}
