<template>
    <require from="./aot-home-slider.css"></require>
        <div id="home-slider-container">
            <div id="home-slider" ref="homeSlider">
                <div class="slide slide-elfe">
                    <div class="slide-caption" t="site.slide.elf">
                        Nul ne peut arrêter ce qui est invisible.
                    </div>
                </div>
                <div class="slide slide-orc">
                    <div class="slide-caption" t="site.slide.orc">
                        Plus facile d'être premier lorsqu'il ne reste plus d'adversaires
                    </div>
                </div>
                <div class="slide slide-elfe">
                    <div class="slide-caption" t="site.slide.elf">
                        Nul ne peut arrêter ce qui est invisible
                    </div>
                </div>
            </div>
            <div id="controls">
                <div class="circle ${ activeSlide === 0 ? 'active' : ''}" click.delegate="goToSlide(0)"></div>
                <div class="circle ${ activeSlide === 1 ? 'active' : ''}" click.delegate="goToSlide(1)"></div>
                <div class="circle ${ activeSlide === 2 ? 'active' : ''}" click.delegate="goToSlide(2)"></div>
            </div>
        </div>
</template>