@import "../../../style/media-queries";

#home-slider {
    transition: transform 1s;
    width: 304%;

    .slide {
        background-size: contain;
        float: left;
        height: 100%;
        padding-bottom: 11%;
        position: relative;
        width: 33.333%;

        .slide-caption {
            background: rgba(black, 0.7);
            color: whitesmoke;
            font-family: "Roboto Condensed", sans-serif;
            padding: 20px;
            position: absolute;
            top: 40%;
            width: 58%;

            @include media-sm {
                font-size: 20px;
            }

            @include media-md {
                font-size: 25px;
            }

            @include media-lg {
                font-size: 40px;
            }
        }
    }

    .slide-elf {
        background-image: url("../../../../assets/homepage/home-slider/slider-elf.jpg");
    }

    .slide-orc {
        background-image: url("../../../../assets/homepage/home-slider/slider-orc.jpg");
    }

    .slide-centaur {
        background-image: url("../../../../assets/homepage/home-slider/slider-centaur.jpg");
    }
}

#home-slider-container {
    overflow: hidden;
    position: relative;
}

#controls {
    left: 50%;
    position: absolute;
    top: 10px;
    transform: translateX(-50%);

    .circle {
        background: #908f8d;
        border-radius: 20px;
        display: inline-block;
        height: 20px;
        margin-left: 4px;
        width: 20px;

        &.active {
            background: #e5c356;
        }

        &:hover {
            cursor: pointer;
        }
    }
}
