/* glue: 0.11.1 hash: 7eb82fe5fc */
        .sprite-movement-wizard_yellow,
.sprite-movement-wizard_red,
.sprite-movement-wizard_blue,
.sprite-movement-wizard_black,
.sprite-movement-warrior_yellow,
.sprite-movement-warrior_red,
.sprite-movement-warrior_blue,
.sprite-movement-warrior_black,
.sprite-movement-queen_yellow,
.sprite-movement-queen_red,
.sprite-movement-queen_blue,
.sprite-movement-queen_black,
.sprite-movement-knight_yellow,
.sprite-movement-knight_red,
.sprite-movement-knight_blue,
.sprite-movement-knight_black,
.sprite-movement-king_yellow,
.sprite-movement-king_red,
.sprite-movement-king_blue,
.sprite-movement-king_black,
.sprite-movement-bishop_yellow,
.sprite-movement-bishop_red,
.sprite-movement-bishop_blue,
.sprite-movement-bishop_black,
.sprite-movement-assassin_yellow,
.sprite-movement-assassin_red,
.sprite-movement-assassin_blue,
.sprite-movement-assassin_black {
            background-image: url('../../assets/sprites/movement.png');
            background-repeat: no-repeat;
        }
        
        .sprite-movement-wizard_yellow {
            background-position: 0 0;
            width: 69px;
            height: 100px;
        }
        
        .sprite-movement-wizard_red {
            background-position: -69px 0;
            width: 69px;
            height: 100px;
        }
        
        .sprite-movement-wizard_blue {
            background-position: -138px 0;
            width: 69px;
            height: 100px;
        }
        
        .sprite-movement-wizard_black {
            background-position: 0 -100px;
            width: 69px;
            height: 100px;
        }
        
        .sprite-movement-warrior_yellow {
            background-position: -69px -100px;
            width: 69px;
            height: 100px;
        }
        
        .sprite-movement-warrior_red {
            background-position: -138px -100px;
            width: 69px;
            height: 100px;
        }
        
        .sprite-movement-warrior_blue {
            background-position: -207px 0;
            width: 69px;
            height: 100px;
        }
        
        .sprite-movement-warrior_black {
            background-position: -207px -100px;
            width: 69px;
            height: 100px;
        }
        
        .sprite-movement-queen_yellow {
            background-position: -276px 0;
            width: 69px;
            height: 100px;
        }
        
        .sprite-movement-queen_red {
            background-position: -276px -100px;
            width: 69px;
            height: 100px;
        }
        
        .sprite-movement-queen_blue {
            background-position: 0 -200px;
            width: 69px;
            height: 100px;
        }
        
        .sprite-movement-queen_black {
            background-position: -69px -200px;
            width: 69px;
            height: 100px;
        }
        
        .sprite-movement-knight_yellow {
            background-position: -138px -200px;
            width: 69px;
            height: 100px;
        }
        
        .sprite-movement-knight_red {
            background-position: -207px -200px;
            width: 69px;
            height: 100px;
        }
        
        .sprite-movement-knight_blue {
            background-position: -276px -200px;
            width: 69px;
            height: 100px;
        }
        
        .sprite-movement-knight_black {
            background-position: -345px 0;
            width: 69px;
            height: 100px;
        }
        
        .sprite-movement-king_yellow {
            background-position: -345px -100px;
            width: 69px;
            height: 100px;
        }
        
        .sprite-movement-king_red {
            background-position: -345px -200px;
            width: 69px;
            height: 100px;
        }
        
        .sprite-movement-king_blue {
            background-position: 0 -300px;
            width: 69px;
            height: 100px;
        }
        
        .sprite-movement-king_black {
            background-position: -69px -300px;
            width: 69px;
            height: 100px;
        }
        
        .sprite-movement-bishop_yellow {
            background-position: -138px -300px;
            width: 69px;
            height: 100px;
        }
        
        .sprite-movement-bishop_red {
            background-position: -207px -300px;
            width: 69px;
            height: 100px;
        }
        
        .sprite-movement-bishop_blue {
            background-position: -276px -300px;
            width: 69px;
            height: 100px;
        }
        
        .sprite-movement-bishop_black {
            background-position: -345px -300px;
            width: 69px;
            height: 100px;
        }
        
        .sprite-movement-assassin_yellow {
            background-position: -414px 0;
            width: 69px;
            height: 100px;
        }
        
        .sprite-movement-assassin_red {
            background-position: -414px -100px;
            width: 69px;
            height: 100px;
        }
        
        .sprite-movement-assassin_blue {
            background-position: -414px -200px;
            width: 69px;
            height: 100px;
        }
        
        .sprite-movement-assassin_black {
            background-position: -414px -300px;
            width: 69px;
            height: 100px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .sprite-movement-wizard_yellow,
    .sprite-movement-wizard_red,
    .sprite-movement-wizard_blue,
    .sprite-movement-wizard_black,
    .sprite-movement-warrior_yellow,
    .sprite-movement-warrior_red,
    .sprite-movement-warrior_blue,
    .sprite-movement-warrior_black,
    .sprite-movement-queen_yellow,
    .sprite-movement-queen_red,
    .sprite-movement-queen_blue,
    .sprite-movement-queen_black,
    .sprite-movement-knight_yellow,
    .sprite-movement-knight_red,
    .sprite-movement-knight_blue,
    .sprite-movement-knight_black,
    .sprite-movement-king_yellow,
    .sprite-movement-king_red,
    .sprite-movement-king_blue,
    .sprite-movement-king_black,
    .sprite-movement-bishop_yellow,
    .sprite-movement-bishop_red,
    .sprite-movement-bishop_blue,
    .sprite-movement-bishop_black,
    .sprite-movement-assassin_yellow,
    .sprite-movement-assassin_red,
    .sprite-movement-assassin_blue,
    .sprite-movement-assassin_black {
                background-image: url('../../assets/sprites/movement.png');
                -webkit-background-size: 483px 400px;
                -moz-background-size: 483px 400px;
                background-size: 483px 400px;
            }
        }
        