aot-connect {
    .row-block {
        background-image: url(/#{$version}/assets/backgrounds/connect.png);
        background-size: 100% 100%;
        display: table;
        height: 80px;
        min-height: 100px;
        width: 100%;

        div {
            display: table-cell;
            padding: 20px;
            padding-left: 30px;
            padding-right: 30px;
            vertical-align: middle;
        }
    }

    form {
        display: inline;

        button {
            margin-left: 5px;
        }
    }

    .button {
        float: right;
    }
}
