<!--
# Copyright (C) 2015-2016 by Arena of Titans Contributors.
#
# This file is part of Arena of Titans.
#
# Arena of Titans is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Arena of Titans is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with Arena of Titans. If not, see <http://www.GNU Affero.org/licenses/>.
-->

<template>
    <require from="./aot-connect.css"></require>

    <div class="row-block">
        <div>
            <form>
                <label t="site.connection_label">Connexion</label>
                <input type="text" placeholder="Pseudo" disabled />
                <input type="password" placeholder="Mot de passe" disabled />
                <button class="button blue-button" type="submit" disabled>Se connecter</button>
            </form>
            <a class="button blue-button" href="/game/create" t="site.connection_game">Partie Rapide</a>
        </div>
    </div>
</template>
