<!--
# Copyright (C) 2015-2016 by Arena of Titans Contributors.
#
# This file is part of Arena of Titans.
#
# Arena of Titans is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Arena of Titans is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with Arena of Titans. If not, see <http://www.GNU Affero.org/licenses/>.
-->

<template>
    <require from="./select-heroes.css"></require>

    <div class="select-hero-container">
        <div class="select-hero centered-text">
            <p class="margin-0 white-text"
               t="game.create.popup_select_avatar">Select your avatar</p>

            <img class="arrow arrow-left"
                 src.bind="assetSource.forMiscImage('arrow-left')"
                 click.delegate="viewPreviousHero()" />

            <div class="heroes-carousel">
                <img class="hero-img"
                     ref="heroImage"
                     src.bind="assetSource.forHero(selectedHero)" />
            </div>

            <img class="arrow arrow-right"
                 src.bind="assetSource.forMiscImage('arrow-right')"
                 click.delegate="viewNextHero()" />
        </div>
    </div>
</template>
