{% extends "src/main/webapp/WEB-INF/_base.html" %}

{% block head %}
        <title>Arena Of Titans</title>
        <link rel="stylesheet" type="text/css" href="/css/game.css">

        <script src="/js/game.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
  <body ng-app="aot" ng-controller="game">

    <div id="bloc_top">
      <div id="logo">
      </div>
      {{me.name}}
    </div>

    <div ng-view=""></div>

    <div ng-controller="gameOver" id="gameOverScreen" class="popup" ng-class="{hidden: !gameOver}">
      <p class="textPopup">The game is over. The winner are :</p>
      <ol>
        <li class="textPopup" ng-repeat="player in winners">{{player}}</li>
      </ol>
    </div>

    <script>
      (function () {
          var module = angular.module('aot');

          module.constant('aotGlobalOptions', {
              apiHost: '${apiHost}',
              apiWebsocketScheme: '${apiWebsocketScheme}',
              apiNewGameIdEndPoint: '${apiNewGameIdEndPoint}',
              debug: ${debug}
          });
      })();
    </script>

    {% include "src/main/webapp/WEB-INF/_piwik.html" %}
  </body>
{% endblock %}
</html>
