<!--
# Copyright (C) 2015-2016 by Arena of Titans Contributors.
#
# This file is part of Arena of Titans.
#
# Arena of Titans is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Arena of Titans is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with Arena of Titans. If not, see <http://www.GNU Affero.org/licenses/>.
-->

<template>
    <require from="../../home.css"></require>
    <require from="../../widgets/aot-connect/aot-connect"></require>
    <require from="../../widgets/aot-header/aot-header"></require>
    <require from="../../widgets/aot-footer/aot-footer"></require>

    <aot-header></aot-header>

    <aot-connect></aot-connect>

    <div class="row-block">
        <div class="bg-content bg-content-padding centered-text">
            <div class="centered-block" t="[html]site.synopsis.pitch">
                <h1>Synopsis</h1>
                <p class="big-column-center">Au commencement de tout, lorsque le monde n’était que néant, quatre êtres émergèrent de la matrice originelle que les elfes nomment Aöctra : l’essence de toutes les essences. Ces créatures furent appelées les Titans. Deux femmes et deux hommes qui avaient pour noms Thézalia, Noya, Daïlum, et Kranth.</p>
            </div>
            <div>
                <img class="column-left"
                     src="/latest/assets/synopsis/titans-left.png"
                     alt="Titans" />
                <div class="column-center" t="[html]site.synopsis.story">
                    <p>Les Titans créèrent les continents et les mers, les montagnes et les forêts. Ils donnèrent ensuite la vie aux sept peuples que sont les Ombres, les Elfes, les Orcs, les Nains, les Arannéens, les Centaures  et les Elvains. Ils furent rejoins plus tard par les Démons qui constituèrent le huitième peuple.</p>
                    <p>Les peuples commencèrent à se battre pour obtenir le pouvoir de gouverner les différents territoires, et avant de disparaître, les Titans créèrent une immense arène afin de les départager.  Chaque Titan créa une famille à son effigie et lui assigna le contrôle de plusieurs zones de l’Arène.</p>
                    <p>Depuis ce jour, chaque peuple envoie ses meilleurs combattants relever le défi de l’Arène des Titans : en utilisant l’influence des quatre familles et les pouvoirs octroyés par les Titans, les participants doivent réussir à traverser l’Arène…avant les autres concurrents !</p>
                    <p>Le pouvoir ultime se mérite.</p>
                </div>
                <img class="column-right"
                     src="/latest/assets/synopsis/titans-right.png"
                     alt="Titans" />
            </div>
        </div>
    </div>

    <aot-footer></aot-footer>
</template>
