html, body
{ 	height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   position:absolute;
   background-image : url("/inc/img/aot_background.png");
}

div#header{
    position:absolute;
    width:100%;
    height:450px;
    background-image:linear-gradient(black, transparent);
    background-size: 100% 100%;
    z-index:0;
}

div#top{
    width:1100px;
    height:300px;
    position:relative;
    background-image: url("/inc/img/aot_home_page_top2.png");
    background-size: 100% 100%;
    margin-top: 1%;
    z-index:1;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#lien_accueil
{
    position: relative;
    width: 296px;
    height: 56px;
    display: block;
    float: left;
    top: 170px;
    left: 404px;
}

div#connexion{
    width:1100px;
    height:80px;
    margin-bottom:10px;
    position:relative;
    background-image: url("/inc/img/aot_home_connexion.png");
    background-size: 100% 100%;
    z-index:1;
    margin-left: auto;
    margin-right: auto;
}

#conteneur_connexion
{
    margin-left: auto;
    margin-right: auto;
    width: 905px;
    line-height: 37px;
}

#mot_connexion
{
    font-size:20;
    font-family: calibri;
    font-weight: bold;
    color: black;
}

form,#mot_connexion
{
    display: inline-block;
    margin-right: 52px;
}

ul {
    padding-top:164px;

    padding-left:0px;
    margin:0;
    list-style-type:none;
}

li {
    float:left; /*pour IE*/
}

#item1, #item2, #item3,#item4,#item5
{
    font-family: 'Berkshire Swash', cursive;
}

ul li a#item1{
    display:block;
    float:left;
    padding-left:0px;
    width:150px;
    line-height:32px; /*hauteur de l'image de fond*/
    background:url(/inc/img/bouton1.png) no-repeat;
    background-size: 100% 100%;
    color:#DCDCDC;
    text-decoration:none;
}
ul li a#item1:hover {
    background:url(/inc/img/bouton2.png) no-repeat;
    background-size: 100% 100%;
    color:white;
    padding-left:0px;
}

ul li a#item2{
    display:block;
    float:left;
    width:150px;
    line-height:32px; /*hauteur de l'image de fond*/
    background:url(/inc/img/bouton1.png) no-repeat;
    background-size: 100% 100%;
    color:#DCDCDC;
    text-decoration:none;
}
ul li a#item2:hover {
    background:url(/inc/img/bouton2.png) no-repeat;
    background-size: 100% 100%;
    color:white;
}

ul li a#item3{
    display:block;
    float:right;
    margin-left:500px;
    width:150px;
    line-height:32px; /*hauteur de l'image de fond*/
    background:url(/inc/img/bouton1.png) no-repeat;
    background-size: 100% 100%;
    color:#DCDCDC;
    text-decoration:none;
}

ul li a#item3:hover {
    background:url(/inc/img/bouton2.png) no-repeat;
    background-size: 100% 100%;
    color:white;
}

ul li a#item4{
    float:left;
    width:150px;
    line-height:32px; /*hauteur de l'image de fond*/
    background:url(/inc/img/bouton1.png) no-repeat;
    background-size: 100% 100%;
    color:#DCDCDC;
    text-decoration:none;
}

ul li a#item4:hover {
    background:url(/inc/img/bouton2.png) no-repeat;
    background-size: 100% 100%;
    color:white;
}

a#item5{
    text-align: center;
    width: 267px;
    line-height:32px; /*hauteur de l'image de fond*/
    background:url(/inc/img/jouer1.png) no-repeat;
    background-size: 100% 100%;
    color:#DCDCDC;
    text-decoration:none;
    display: inline-block;
    cursor: pointer;
}

a#item5:hover {
    background:url(/inc/img/jouer2.png) no-repeat;
    background-size: 100% 100%;
    color:white;
}

button #OK{
    background:url(/inc/img/bouton1.png) no-repeat;
    background-size: 100% 100%;
    color:#DCDCDC;
    text-decoration:none;
}

button #OK:hover {
    background:url(boutonjouer1.png) no-repeat;
    background-size: 100% 100%;
    color:white;
}

div#middle{
    width:1100px;
    margin-left: auto;
    margin-right: auto;
    font-family: calibri;
}

div#fond1,#fond2,#fond3{
    width:1100px;
    height:600px;
    background-image: url("/inc/img/aot_home_block.png");
    background-size: 100% 100%;
}

div#fond2,#fond3{
    margin-top: 2%;
}

div#footer{
    width:100%;
    height:200px;
    background-image:linear-gradient(transparent, black);
    background-size: 100% 100%;
}

h1
{
    padding-top: 30px;
    color: maroon;
}