rect, path {
    opacity:0.25422764;
    stroke:#000000;
    stroke-width:2.24024391;
    stroke-miterlimit:4;
    stroke-opacity:1;
    stroke-dasharray:none;
}

.red-square {
    fill: red;
}

.yellow-square {
    fill: yellow;
}

.black-square {
    fill: black;
}

.blue-square {
    fill: blue;
}

.highlightedSquare {
    fill: green !important;
    cursor: pointer;
}