#gameBoardContainer {
    height: 591px;
}

#gameBoard {
    left: -285px;
    position: absolute;
    top: -680px;
    transform: scale(0.3);
}

rect, path {
    opacity:0.25422764;
    stroke:#000000;
    stroke-width:2.24024391;
    stroke-miterlimit:4;
    stroke-opacity:1;
    stroke-dasharray:none;
}

.red-square {
    fill: red;
}

.yellow-square {
    fill: yellow;
}

.black-square {
    fill: black;
}

.blue-square {
    fill: blue;
}

.highlightedSquare {
    fill: green !important;
    cursor: pointer;
}

.movementsCard {
    height: 160px;
    cursor: pointer;
    float: left;
    margin: 5px;
    position: relative;
}

.selectedCard {
    top: -20px;
}

.trump {
    cursor: pointer;
}
