html, body
{ position:fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image : url(/inc/img/backgrounds/background.png);
}


div#bloc_top{
    width:100%;
    height:10%;

}

div#bloc_total{
    width:100%;
    height:90%;
    /*border:3px solid black;*/
}

div#bloc_middle{
    float: left;
    width: 70%;
    height:100%;
}

div#bloc_middle_centre{
    width:100%;
    height:74%;
    background: url(/inc/img/backgrounds/plateau.png);
    background-size: 100% 100%;
}

#gameBoardContainer {
    height: 430px;
}

#gameBoard {
    left: -285px;
    position: absolute;
    top: -705px;
    transform: scale(0.2);
}

rect, path {
    opacity:0.8;
    stroke:#000000;
    stroke-width:2.24024391;
    stroke-miterlimit:4;
    stroke-opacity:1;
    stroke-dasharray:none;
}

.red-square {
    fill: red;
}

.yellow-square {
    fill: yellow;
}

.black-square {
    fill: black;
}

.blue-square {
    fill: blue;
}

.highlightedSquare {
    fill: green !important;
    cursor: pointer;
}

.pawn {
    fill: black;
}

div#bloc_middle_bottom{
    width:100%;
    height:26%;
    background: url(/inc/img/backgrounds/cartes.png);
    background-size: 100% 100%;
}

.movementsCard {
    left:27%;
    float: left;
    height: 100px;
    cursor: pointer;
    margin: 5px;
    position: relative;
}

.movementsCardContainer {
    display: table-cell;
}

.selectedCard {
    top: -20px;
}


div#bloc_left{
    float:left;
    width:15%;
    height: 100%;
    background: url(/inc/img/backgrounds/jauge.png);
    background-size: 100% 100%;
}


div#bloc_right{
    float: right;
    width:15%;
    height:100%;
}

div#bloc_right_centre{
    width:100%;
    height:74%;
    background: url(/inc/img/backgrounds/infos.png);
    background-size: 100% 100%;
}


div#bloc_right_bottom{
    width:100%;
    height:26%;
    background: url(/inc/img/backgrounds/chrono.png);
    background-size: 100% 100%;
}

#gameController, #game {
    height: 100%;
}

.trump {
    cursor: pointer;
}

#trumps {
    color: black;
    width: 9%;
    height: 100%;
    font-weight: bold;
    position: absolute;
    top: 167px;
    left: 8px;
}