<!--
# Copyright (C) 2015-2016 by Arena of Titans Contributors.
#
# This file is part of Arena of Titans.
#
# Arena of Titans is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Arena of Titans is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with Arena of Titans. If not, see <http://www.GNU Affero.org/licenses/>.
-->

<template>
    <require from="./aot-header.css"></require>

    <header>

        <div class="navbar row-block">
            <div class="column-left">
                <a class="button" t="site.header_rules"
                   click.delegate="showSubMenuContent()" >Règles</a>
                <a class="button" href="/synopsis" t="site.header_synopsis">Synopsis</a>
                <a class="button button-disabled" href="/synopsis" t="site.header_ranking">Classement</a>
            </div>
            <div class="column-center">
                <a class="logo-shadow" href="/"></a>
            </div>
            <div class="column-right">
                <a class="button button-disabled" t="site.header_news">Actualités</a>
                <a class="button blue-button" t="site.header_play" href="/game/create/">Jouer !</a>
            </div>
        </div>
        <div class="submenu">
            <div id="rules-submenu" show.bind="isSubMenuContentVisible">
                <a class="button" href="/rules">Déplacements</a>
                <a class="button" href="/synopsis">Héros</a>
                <a class="button" href="/synopsis">Atouts</a>
            </div>
        </div>
    </header>
</template>
