@import "../../../style/media-queries";

$logo-size: 230;
$logo-size-mobile: 100;

aot-header {
    a {
        padding-left: 0;
    }

    .button {
        display: inline;
        margin-right: 3vw;
        text-align: inherit;
    }

    .founders-button {
        @include fluid {
            padding-left: 38%;
        }
    }

    .blue-button {
        display: inline-block;
        margin: auto;
        padding: 0px 20%;
        text-align: center;
        width: 120px;

        @include fluid {
            width: 80px;
        }

        @include media-lg {
            padding: 10px 150px;
        }
    }

    header {
        background: #020101;
        margin-bottom: 60px;
        padding-top: 25px;
        position: relative;
    }

    .grey-button {
        width: 50%;
    }

    .column-center {
        margin-left: 85px;
        width: 0;

        a.logo {
            display: block;
            height: #{$logo-size}px;
            left: calc(50% - #{$logo-size/2}px);
            position: absolute;
            top: -67px;
            width: #{$logo-size}px;
            z-index: 2;

            @include fluid {
                height: #{$logo-size-mobile}px;
                left: calc(50% - #{$logo-size-mobile/2}px);
                top: 20px;
                width: #{$logo-size-mobile}px;
            }
        }
    }

    .column-right {
        text-align: right;
    }

    .navbar {
        @include fluid {
            font-size: 20px;
        }

        @include media-sm {
            font-size: 35px;
        }

        @include media-md {
            font-size: 40px;
        }

        @include media-lg {
            font-size: 50px;
        }

        @include media-xl {
            font-size: 55px;
        }

        padding-bottom: 20px;
    }

    .navbar,
    .submenu > .row-block {
        padding-left: 5%;
        padding-right: 5%;
    }

    .submenu {
        background: #600f0d;
        height: 50px;
        line-height: 50px;
        position: absolute;
        width: 100%;
        z-index: 1;

        @include fluid {
            font-size: 15px;
        }

        @include media-sm {
            font-size: 30px;
        }

        @include media-md {
            font-size: 35px;
        }

        @include media-lg {
            font-size: 45px;
        }

        @include media-xl {
            font-size: 50px;
        }
    }
}
