@import '../../../style/media-queries';

$logo-size: 230;
$logo-size-mobile: 100;

aot-header {
    a {
        padding-left: 0;
    }

    .button {
        display: inline;
        margin-right: 3vw;
        text-align: inherit;
    }

    .blue-button {
        padding: 10px 2vw;
    }

    .blue-button:hover {
        background-position: 0 -70px;
    }

    header {
        background: #020101;
        margin-bottom: 130px;
        padding-top: 25px;
        position: relative;
    }

    .grey-button {
        width: 50%;
    }

    .column-center {
        margin-left: 85px;
        width: 0;

        a.logo-shadow {
            display: block;
            height: #{$logo-size}px;
            left: calc(50% - #{$logo-size/2}px);
            position: absolute;
            top: -67px;
            width: #{$logo-size}px;
            z-index: 2;

            @include fluid {
                height: #{$logo-size-mobile}px;
                left: calc(50% - #{$logo-size-mobile/2}px);
                top: 48px;
                width: #{$logo-size-mobile}px;
            }
        }
    }

    .column-left,
    .column-right {
        width: auto;
    }

    .column-right {
        text-align: right;
    }

    .navbar {
        font-size: 2.2vw;
        padding-bottom: 20px;
        padding-right: 5%;
    }

    .submenu {
        font-size: 1.8vw;
    }

    .navbar,
    .submenu {
        padding-left: 5%;
    }

    .submenu {
        background: #600f0d;
        height: 50px;
        line-height: 50px;
        position: absolute;
        width: 95%;
        z-index: 1;
    }
}
