@import '../../../style/media-queries';

$logo-size: 230;

aot-header {
    a {
        padding-left: 0;
    }

    .button {
        display: inline;
        padding-right: 45px;
        text-align: inherit;
    }

    header {
        background: #020101;
        font-size: 26px;
        margin-bottom: 130px;
        padding-top: 80px;
        position: relative;
    }

    .grey-button {
        width: 50%;
    }

    .column-center {
        margin-left: 85px;
        width: 0;

        a.logo-shadow {
            display: block;
            height: #{$logo-size}px;
            left: calc(50% - #{$logo-size/2}px);
            position: absolute;
            top: 10px;
            width: #{$logo-size}px;
        }
    }

    .column-left,
    .column-right {
        width: auto;
    }

    .column-right {
        text-align: right;
    }

    .navbar {
        font-size: 36px;
        padding-bottom: 20px;
        padding-right: 5%;
    }

    .navbar,
    .submenu {
        padding-left: 5%;
    }

    .submenu {
        background: #600f0d;
        height: 50px;
        line-height: 50px;
        position: absolute;
        width: 95%;
        z-index: -1;
    }

    @include fluid {
        header {
            .column-left,
            .column-right {
                position: relative;
                width: 45%;
            }

            .column-left {
                bottom: -100px;
            }

            .column-right {
                bottom: -40px;
            }

            .column-center {
                display: block;
                margin: auto;
            }
        }
    }
}
