@import '../../../style/media-queries';


aot-header {
    a {
        padding-left: 0;
    }

    header {
        background-image: url(/assets/backgrounds/header.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 300px;
    }

    .button {
        display: block;
        float: left;
    }

    .button-dark {
        width: 50%;
    }

    .column-center {
        display: inline-block;
        height: 56px;
        max-width: 296px;
        width: 30%;

        a {
            display: block;
            height: 100%;
            width: 100%;
        }
    }

    .column-left {
        float: left;
        width: 29.3%;
    }

    .column-right {
        float: right;
        width: 28.4%;
    }

    .navbar {
        position: relative;
        top: 163px;
    }

    @include fluid {
        header {
            .column-left,
            .column-right {
                position: relative;
                width: 45%;
            }

            .column-left {
                bottom: -100px;
            }

            .column-right {
                bottom: -40px;
            }
        }
    }
}
